[2015-05-12 15:52] ibaldin opened #1 "Add support for EROs"
Example use: the 40GB link between uva and starlight exists only from ESNet scheduler:
1. Choose the link when the request bw exceeds 10GB.
2. Otherwise choose the regular 10GB link.

[2015-05-12 15:53] ibaldin opened #2 "SM recovery loop"
I’ve encountered now a couple of times an issue with recovering the SM that throws an NPE in this function in ReservationClient?. Note the added check whether p.getReservation() returns a null that I added for now - I don’t believe this is the solution, only an NPE fix.
The scenario for recovery is as follows - submit a slice via controller, retrieve a manifest to see that things are ticketed and

[2015-05-12 16:06] ibaldin opened #3 "Topology embedding extensions"
See the attached picture for diagrams. We would like the topology embedding algorithm to extend to the following cases:
1. connecting a broadcast link in one rack to a broadcast link in another. Right now this can be emulated by using node groups, but a more general solution would allow for heterogeneous nodes to be attached to a bcast link, then linked to another one in another rack.
   2.Dealing

[2015-05-12 16:15] ibaldin opened #4 "When embedding with unknown compute sliver type no error message returned"
In the logs we can see

ERROR controller.orca.controllers.xmlrpc.OrcaXmlrpcHandler - createSlice():
No reservations created for this request; Error:com.hp.hpl.jena.ontology.ConversionException: Cannot convert node http://geni-orca.renci.org/owl/exogeni.owl#emulab-xen to OntClass: it does not have rdf:type owl:Class or equivalent

emulab-xen is an invalid sliver type

Somehow this doesn't make it b

[2015-05-12 20:05] ibaldin opened #5 "Add SSL support to management interface with pequod"
Need to configure Jetty to support connection over additional port (in addition to XX080) which does SSL. This will not affect actor-actor connections, but should allow pequod to use SSL/TLS.

[2015-05-14 04:15] #5 closed, assigned to nobody

[2015-05-14 04:19] #4 closed, assigned to ibaldin

[2015-06-05 15:44] ibaldin opened #6 "Node (re)naming when generalized node groups are used"
From Sarah:

In the attached RSpecs the client_id of the nodes changes after the reservation.

That is:
(1) If the request has client_id "foo" the CreateSliver call returns two nodes one with client_id "foo" and another with client_id "foo/0". (See request_rspec.xml and initial_manifest_rspec.xml)
(2) Subsequent ListResources calls include a single node with a client_id of "foo/0". (See later_mani

[2015-06-05 20:27] ibaldin opened #7 "ORCA stitching to UVA"
According to Chris, creating a dumbbell from BBN to UVA results in UVANet and ION failures. This is perhaps due to the changes introduced for vlan 3300 to support UVA-CIENA connectivity.

[2015-06-16 18:37] ibaldin opened #8 "Sliver modify issues"
Two issues observed now
1. The modify properties from controller/sm don't appear to make it to the AntConfig call
2. After the first modify fails (because it can't find the right target in the handler, because of the issue 1 above), further modifies are not possible due to

2015-06-16 14:33:44,608-[test-test-topology-embedding-SM]-{ERROR}-orca.test-test-topology-embedding-SM-(Reservation.java:385)

[2015-06-25 20:45] ibaldin opened #9 "Build process allows to build once before throwing an error"
If you build without removing the contents of ~/orca-build/rpmbuild and all the RPMs that are in ~/orca-build, this error occurs:

[geni-orca@geni-dev orca5]$ ./redhat/buildrpm.sh -i
User requested automatic installation after build complete.
Preparing to build RPMs; this may take some time...
error: Package already exists: %package common
RPM build failed.
[geni-orca@geni-dev orca5]$

[2015-06-26 15:27] #7 closed, assigned to YufengXin

[2015-07-06 18:57] ibaldin opened #10 "PSC GENI stitching doesn't work"
Any idea why this request (already converted to NDL) doesn't work?

[code]

[2015-07-22 19:41] #10 closed, assigned to YufengXin

[2015-07-23 17:26] #8 closed, assigned to anriban

[2015-07-23 17:30] ibaldin opened #11 "Interface add/remove (sliverModify) and link add/remove (sliceModify)"
Starting this discussion thread as a place for discussions between Paul, Yufeng and myself specific to sliverModify implementing interface add/remove and the higher-level sliceModify functionality that adds/removes links and takes advantage of this sliverModify functionality.

[2015-08-21 15:49] paul-ruth opened #12 "Occasional Core Error with large slices"
The following error has happened a couple of times when I submitted very large (200+ vms) slices.   It seems that it is in the core.

NodeGroup2/47
Failed
Reservation 5c2081ef-6633-4cdc-9ed8-1889d69e5115 (Slice pruth5x50.1) is in state [Failed,None], err=unexpected ticket failure, message=An error occurred during amend reserve for reservation #2A5FC6E5, stack=Exception stack trace: orca.shirako.ke

[2015-08-25 19:48] paul-ruth opened #13 "Modify Slice: General Disscussion"
This "issue" is for discussion of the modify slice development

[2015-10-06 16:24] ibaldin opened #14 "When creating multiple shared storage LUNs attached to same node, multiple interfaces on node are created"
This is a bug of sorts - if I want to create a node attached to two LUNs, and those LUNs are on a single storage VLANs, I should only have one interface on that storage VLANs (from the node), however I get two. For N LUNs I'd get N interfaces. It sort of works, however it is a waste of IP addresses on the storage VLAN and should probably be avoided.

[2015-10-16 13:30] #11 closed, assigned to YufengXin

[2015-10-19 16:57] #9 closed, assigned to vjorlikowski

[2015-10-19 20:55] ibaldin opened #15 "Running ORCA in disconnected mode"
ORCA does not run properly in a VM completely disconnected from the Internet.

Part of the issue was traced to AM trying to retrieve ben.rdf and ben-dtn.rdf, however wireshark shows some other connections to geni-orca.renci.org (where OWL files are stored), protected by TLS(?). It's not clear what those are doing.

More testing is needed.

[2015-10-20 15:25] ibaldin opened #16 "RDF Fixes (put them on master branch)"
CIENA RDF needs to be checked to conform to this setup:

Port 3/17 (10G):
3300 - stitchport towards UvA (direct manually provisioned link)

Port 4/1 (100G):
1870-1879 - ExoGENI stitching via AL2S
940-949 - GENI Stitching via AL2S
1779-1799 - Stitchport towards NSI 8700 at SL

ION RDF: UMass VLAN 533 should use URN

urn:ogf:network:domain=al2s.net.internet2.edu:node=sdn-sw.newy32aoa.net.internet2.e

[2015-10-20 21:26] #15 closed, assigned to ibaldin

[2015-10-21 16:46] #16 closed, assigned to YufengXin

[2015-10-23 16:06] ibaldin opened #17 "RDF Stitchport updates (put on master)"
1. Define a RENCI Datacenter stitchport on ion. Use Renci's AL2S URN for it and a 20-size vlan range negotiated with Chris
2. Define an SDSC Stithport on ion. Use 'fake' URN urn:ogf:network:domain=renci.org:node=SDSC:port=COMET and vlan range 3700-3704
3. Remove osgnet and it's references from ben-6509.rdf

[2015-10-26 21:20] #17 closed, assigned to YufengXin

[2015-10-27 21:23] ibaldin opened #18 "NEuca leaks quantum interfaces"
During the most recent maintenance, I discovered a number of leaked quantum ports, on each of the AMs implementing storage.
These leaked ports were all associated with the storage network on these AMs.
It appears that the code that is supposed to clean up ports isn't doing so for the (statically defined) storage network.

[2015-10-27 21:26] ibaldin opened #19 "Intermittent delegation failure"
2014-09-29 20:02:41,554 [RPC] ERROR orca - An error occurred while performing RPC. Error type=LocalError?
orca.shirako.util.RPCException: orca.shirako.proxies.soapaxis2.SoapAxis?2StubException: An error occurred while obtaining service stub
at orca.shirako.proxies.soapaxis2.SoapAxis?2Return.execute(SoapAxis?2Return.java:73)
at orca.shirako.kernel.RPCManager$RPCExecutor.run(RPCManager.java:808)
at

[2015-10-29 20:10] ibaldin opened #20 "Return netmask with the IP address in manifest"
At some point in the future...

Current manifest doesn't contain the assigned netmask. Only the IP address. I would like to have both. Makes the job of auto-iping the modified slice much easier.

[2015-11-03 14:29] ibaldin opened #21 "Fan's embedding issue (two nodegroups in one site, connected to second site)"
Fan discovered a problem with embedding a slice that has two node groups in one site connected by an internal bcast link and also connected to a second (and possibly third site).

Yufeng made modifications to recognize this case properly, however the manifest doesn't render properly - Flukes can't distinguish identically named interfaces on two paths towards the nodegroups.

[2015-11-11 15:49] ibaldin opened #23 "AM Recovery exception with Failed,None (7,1)"
2015-11-11 15:46:14,266 [WrapperSimpleAppMain] ERROR orca.ufl-vm-am - Unexpected error while recoverying reservation
orca.util.OrcaException: Unexpected reservation state: state=7 pending=1
        at orca.shirako.kernel.AuthorityReservation.recover(AuthorityReservation.java:742)
        at orca.util.persistence.PersistenceState.recover(PersistenceState.java:368)
        at orca.util.persistence.P

[2015-11-11 17:37] ibaldin opened #24 "Manifest end date isn't filled in correctly"
After an extend by two weeks that should show slice ending on Nov 24, 2015 in at least one slice I see end date reported through the RDF Manifest as April of 2016. Looking at manifest document I see this

[code]

which doesn't make sense. In pequod everything looks right. This is only the end date issue in RDF, but it  is misleading, because that's what the users see. Perhaps manifest should fill

[2015-11-12 18:44] #21 closed, assigned to YufengXin

[2015-11-15 05:35] ibaldin opened #25 "Controller recovery bug/TDB corruption"
This happens with 'normal' looking slices after recovery:

[code]

[2015-11-18 18:29] ibaldin opened #26 "Nodegroup increase stopped working for radii slice"
SM, broker would report

f264d9a5-0685-482e-b948-e9d5574566b0    exo-sm
    Slice: f4ed8f1c-c0e7-4798-98fa-c6a9ca05a7fa
    1   umassvmsite.vm  [ closed, nascent]
    Notices: Reservation f264d9a5-0685-482e-b948-e9d5574566b0 (Slice radii) is in state [Closed,None]

Last ticket update: Closed while allocating ticket

Logs on SM

/etc/orca/sm-14080/logs/orca.log:2015-11-18 12:52:58,045 [exo-sm] DEBU

[2015-11-20 04:14] #13 closed, assigned to YufengXin

[2015-11-30 19:43] #24 closed, assigned to YufengXin

[2015-11-30 19:47] ibaldin opened #27 "Modify topology issue with multiple connections from same site"
Scenario is like this:
1. Create a single node0 at BBN
2. Add another node1 with link to node0 also at BBN
3. Add nodegroup0 of 1 node at FIU and connect it to node0 and node1 with two separate paths

Sometimes it can show proper manifest (a triangle). Sometimes one or both branches from nodegroup0 are looped back on itself instead of going to nodes as below. This is not dependent on recovery.

![

[2015-12-02 14:33] ibaldin opened #28 "Premature model close in cloudhandler"
Still getting premature model close in cloud handler. Looking at the code, line 1115 has not changed in the new fix.

[code]

[2015-12-02 14:58] #27 closed, assigned to YufengXin

[2015-12-03 22:51] ibaldin opened #29 "Label loss/recovery issue with stitchports"
Relates to modify branch.

This describes two issues that likely have to do with concurrency because it comes up when exercised by GENI stitching which hammers on stitchports more than usual.
1. PSC has 15 labels available for GENI stitching, but somehow after hammering on it for a while the best they can do is get 9 or 10. The ndl.log then shows the labels are in fact taken in the controller, but

[2015-12-04 22:30] #28 closed, assigned to YufengXin

[2015-12-08 01:15] YufengXin opened #30 "NLR reservations not closed"
Under certain circumstances, the close function in the control policy was not called for a NLR reservation, which caused tags not released on the control side, which ultimately caused the "passed in tag not found" exception in the controller.

From the log, I suspect when the reservation failed due to a handler configuration failure in the switchs, the close() was not invoked? This needs further i

[2015-12-08 20:42] ibaldin opened #31 "Premature model close in getManifestModel"
Reported by Paul after many add's delete's

[code]

[2015-12-15 18:21] ibaldin opened #32 "Add support for querying for multiple states on the SM in mysql"
Currently we can query only for one state and return matching reservations. The label sync thread has to acquire reservations in a number of states, which results in multiple expensive queries instead of a single joint query. Requires modifying management interface and local proxy to use a list of states as a parameter.

[2015-12-16 19:26] #29 closed, assigned to YufengXin

[2015-12-16 20:10] ibaldin opened #33 "In modify provisioning inter-domain takes longer and longer"
Somehow some reservations aren't detected to go active in the slice defer thread and other deferred reservations wait until the timeout expires and proceed anyway, even though the underlying previous reservations have been redeemed and gone active.

[2015-12-17 20:00] #25 closed, assigned to ibaldin

[2015-12-18 16:25] ibaldin opened #34 "Storage didn't mount on modify in RCI"
Looks like the interface got added:

[code]

and neuca-user-data got properly modified:
![screen shot 2015-12-18 at 11 24 47 am](https://cloud.githubusercontent.com/assets/12304033/11901513/fe4fc432-a579-11e5-9471-4dc76b4a4df2.png)

But the interface didn't show up in VM, consequently, storage wasn't mounted. I think this is an OpenStack glitch. maybe.

[2015-12-18 17:01] ibaldin opened #35 "NPE in SM on closing some reservations"
Saw this in SM log

[code]

The code is this:

[code]

Looks like 'policy' is not set for a reservation? I wonder if this is a 'fake' reservation? Judging by what the log ('Reservation has not requested any resources yet.').

[2015-12-18 17:11] #34 closed, assigned to paul-ruth

[2015-12-18 20:06] #33 closed, assigned to ibaldin

[2015-12-18 21:05] #31 closed, assigned to YufengXin

[2015-12-21 19:12] ibaldin opened #36 "Intra-domain bandwidth exhaustion behavior"
This may or may not be a bug. I was testing modify by asking for more resources than available.

With nodes, the controller properly rejects if the number of nodes exceeds available. With link bandwidth, I asked for a 100G intra-domain link. The controller accepted it, but then the AM properly rejected it. I think it would be better if the controller rejected it at the start?

This behavior is the

[2015-12-21 21:11] ibaldin opened #37 "Modify embedding problem"
1. Start with a single node Node0 at FIU
2. Add 3 nodes (Node1, Node2) - two at FIU and one (Node3) at SL and link all nodes together using a 4-way broadcast link
3. The result manifest shows Nodes 1, 2 and 3 properly connected, Node0 shows disconnected
4. Try to link Node0 to the FiuNet VLAN to fix the problems and you get an even bigger mess (most nodes disconnected from links, see figure below)

[2016-01-05 18:06] #35 closed, assigned to YufengXin

[2016-01-08 21:08] ibaldin opened #38 "Additional rule file"
Add ability to merge admin-specified rules to already existing ones in controller create and modify.

[2016-01-11 20:24] #30 closed, assigned to YufengXin

[2016-01-12 19:34] #38 closed, assigned to ibaldin

[2016-01-15 16:28] paul-ruth opened #39 "Add/Delete whole multipoint link"
Note:  this might be a Flukes issues.

I understand that modifying interdomain multipoint is not ready.   I would be useful if we could modify the slice by adding and removing an entire multipoint network.   Right now if you delete an entire interdomain  multipoint link it gives an error that seem to be flukes checking the validity of the modify request.

[2016-01-15 17:21] anriban opened #40 "cienaNet failing"
This was a 5 way multipoint slice with one node group at CIENA. The cienaNet reservation failed with following error message. Something with respect to communication with the switch ?

cienaNet/Domain/vlan/f21b491d-dc5d-4f9c-81ed-3ae13bcbf462/vlan
Failed
Reservation 3f9fb91c-6f6c-4dd7-8f30-31e3f675d98b (Slice ani-mp-2) is in state [Failed,None] Last lease update: all units failed priming: Exceptio

[2016-01-15 17:31] anriban opened #41 "multipoint slice (unbound case and modify)"
The request is here: http://geni-images.renci.org/images/anirban/mp-test-2.rdf , which was a 5 way multipoint slice (16 each on 4 node groups and 1 vm) that was unbound. When the slice is submitted, it seems that the set of reservations obtained are correct. For example, submission of this request gave reservations for VMs in two sites (32 in one and 33 in another) and an ion vlan. When I query fo

[2016-01-15 17:33] #40 closed, assigned to nobody

[2016-01-15 19:22] paul-ruth opened #42 "Closed Model Error"
I hit the closed model error again.  I think the sequenece is as follows:
1.   Started my SDN slice.  This inlcludes 4 "openvswitch vms" that are connected in line.
   2  Removed links between some openvswitch nodes.
2. Add new links between openvswitch nodes.
3. Repeat a few times until the error happened when adding a new link

INFO   | jvm 1    | 2016/01/15 13:31:49 | Send a packet PING : ok
DE

[2016-01-15 19:56] #26 closed, assigned to ibaldin

[2016-01-15 21:03] #39 closed, assigned to nobody

[2016-01-17 21:52] #37 closed, assigned to YufengXin

[2016-01-19 19:02] #42 closed, assigned to YufengXin

[2016-01-19 19:21] ibaldin opened #44 "NPE in modify (group resize) after recovery"
Also @anriban just to include in the loop

[code]

Seems maybe the easiest way to fix it is to make sure NdlCommons.isSttichingNodeInManifest returns false if the resource is null, however wanted to check. Here is the code:

[code]

Wondering if this is sufficient.

[2016-02-18 23:14] #44 closed, assigned to YufengXin

[2016-02-29 21:46] ibaldin opened #46 "Slice with a node named 'controller' experiences problems"
A single-node slice with a node named controller cannot be properly processed because of this

![screen shot 2016-02-29 at 10 12 45 am](https://cloud.githubusercontent.com/assets/12304033/13410077/e30aa98a-df03-11e5-8b5b-de0f2b6a8843.png)

[2016-03-11 23:06] ibaldin opened #47 "NDLCommons features"
1.  A way to create a request generator from a successful request parser.    Likely this will involve a new constructor that takes a model as a parameter.
2.  (Possibly) A way to create a request generator from a successful manifest parser.  This would likely only create a blank modify model with the minimum slice-level information (if any).
3.  A method on NDLGenerator to  “removeNodeTypeToCE(nod

[2016-03-15 17:54] Bun opened #48 "Missing netmask property in slice description after slice modification"
I've added a link between two existing nodes using slice modification. I have assigned fixed IPs to the related interfaces (172.30.0.5 and 172.30.0.6) with a netmask of 255.255.255.252.

After modification, the IP addresses are present in the RDF, but the netmask is not. The relevant link is called "ModifiedLink1".
- [Modification request](https://github.com/RENCI-NRIG/orca5/files/174502/modify-re

[2016-03-18 16:34] paul-ruth opened #49 "semi-wedged slice on new compute node failure"
If you have an existing slice and modify it by adding a new compute node that does not have an image specified the vm will fail as expected.   The problem is that after you delete the failed vm and try to re-add the vm with an appropriate image the modify request fails silently.    In other words, the never appears in the slice (failed or otherwise).

To re-create:
1.  Create a slice with a single

[2016-04-07 19:58] ibaldin opened #50 "UAF GENI advertisement uses wrong I2 URN"
According to Ali we're advertising sdn-sw.houh.net.internet2.edu:e7/1 instead of

urn:ogf:network:domain=al2s.net.internet2.edu:node=sdn-sw.seat.net.internet2.edu:port=et-1/3/0.0:link=*

Need to correct, but also need information about the GENI VLAN range from UAF (I don't have it). We should time this update to GLIBC rack updates so as not to create an additional down period.

@YufengXin and @mce

[2016-04-27 15:56] ibaldin opened #51 "Need to add timeout to controller socket"
so they don't hang out in CLOSE_WAIT state

[2016-04-29 20:18] ibaldin opened #52 "controller error message should be looked at"
2016-04-20 17:35:12,572 [PeriodicPoolThread] ERROR controller.ReservationStatusUpdateThread - ModifyStatusChecker: java.lang.Exception: Unable to obtain reservation information for 4985c18f-7d87-40b4-9e1d-52abec52e195
2016-04-20 17:35:12,572 [PeriodicPoolThread] DEBUG controller.ReservationStatusUpdateThread - Reservation watch not ready for reservations [D464AB75[ 1 ]]
2016-04-20 17:35:13,067 [Sl

[2016-05-02 20:53] #51 closed, assigned to ibaldin

[2016-05-10 15:21] ibaldin opened #53 "Convert manifest model into a request model"
Need to be able to take manifest of a slice and turn it into a request (assuming some number of modifications that lead to the latest manifest).

There are at least two ways of achieving that
1. Writing a ManifestParser class that generates a new Jena model that is the request based on parsing the manifest. Mostly straightforward, except, perhaps, for dealing with inter-domain links
2. Copying the

[2016-05-10 18:55] #47 closed, assigned to ibaldin

[2016-05-10 21:56] #50 closed, assigned to YufengXin

[2016-05-12 14:59] paul-ruth opened #54 "NDLCommons feature - reset metadata"
We need a function in NDLCommons that allows AHAB (or others) to reset the "metadata" describing an element in a modify request.     This would be necessary when AHAB is being used by indecisive users who add/remove some elements and undo those adds before a commit.

[2016-05-16 19:50] paul-ruth opened #55 "Node GUIDs missing on new modify nodes"
If you create a new node via a modify request it will not have a GUID in the manifest.   This can be a problem when searching for the node in order to modify it again.

[2016-05-18 19:05] paul-ruth opened #56 "Interfaces while Parsing Manifest"
While parsing a manifest in a class that implements INdlManifestModelListener, ndlInterface is only called once regardless of how many Interfaces actually exist.    This is true for a slice that was created by a single request and for a slice created by multiple modifies.

[2016-05-18 19:12] paul-ruth opened #57 "NDLCommons feature - separatly setIP and setNetmask"
There are times when you want to set the IP and netmask of an interface individually.  Currently you have to create an IP individual and add a netmask to the IP before adding the whole thing to an interface.

It would be best if the abstraction worked as follows:

ngen.addIPToInferface("172.16.1.1", interfaceIndividual);
ngen.addNetmaskToInterface("255.255.255.0", interfaceIndividual);

In additio

[2016-05-19 16:52] #56 closed, assigned to ibaldin

[2016-05-19 21:19] #57 closed, assigned to ibaldin

[2016-06-09 19:34] ibaldin opened #58 "Stitchport vlan range not properly checked?"
BFG stitchport has a range of 500-519, however it accepts e.g. tag 1489 without error. Probably should check what's going on here.

On OSCARS side the tag is clearly passed in to OSCARS according to the log:

INFO   | jvm 1    | 2016/06/09 15:31:40 |      [echo] OSCARS/ION NA2 HANDLER: JOIN
INFO   | jvm 1    | 2016/06/09 15:31:40 |      [echo] creating OSCARS circuit from urn:ogf:network:domain=al

[2016-06-14 18:59] ibaldin opened #59 "Memory leak in controller in pubsub."
Noticed a slow memory leak in controller. @mcevik0 collected a  heap dump. Analysis in eclipse showed a leak in PubSub code due to duplication of state between a PublishManager sliceList structure and PublishQueue slicesToWatch. Likely due to pubsub manager holding references to slice states beyond useful time (see screenshots)

![screen shot 2016-06-14 at 2 58 05 pm](https://cloud.githubuserconte

[2016-06-15 21:30] ibaldin opened #60 "QFX3500 QoS provisioning breaks connectivity in TOR configuration"
When used in mishmash rack the QFX3500 in TOR configuration does not properly pass TCP and UDP packets (ICMP is fine). Possibly a rate configuration on the policer, as removing the filter off the VLAN fixes the problem.

[2016-06-21 17:46] #59 closed, assigned to ibaldin

[2016-06-21 20:37] ibaldin opened #61 "Change BEN control to support new stitchport specification"
Keeping track of the issue. Will be linked to aggregate stoppage ticket for ExoGENI.

[2016-07-01 20:52] ibaldin opened #62 "Modify issue from Divya"
As reported:
[code]

[2016-07-01 20:53] ibaldin opened #63 "Interdomain modify problems"
Paul @paul-ruth please fill this in.

[2016-07-02 03:02] ibaldin opened #64 "NPE in creating Fan's slice"
Fan's slice (RDF attached) causes the following controller NPE:

[code]

[bigdata-local.txt](https://github.com/RENCI-NRIG/orca5/files/344378/bigdata-local.txt)

[2016-07-12 21:18] #64 closed, assigned to YufengXin

[2016-07-19 18:55] ibaldin opened #65 "NPE in modify slice reported by Fan"
DEBUG  | wrapper  | 2016/07/19 14:48:59 | Got ping response from JVM
INFO   | jvm 1    | 2016/07/19 14:49:00 | java.lang.NullPointerException
INFO   | jvm 1    | 2016/07/19 14:49:00 |       at orca.controllers.xmlrpc.OrcaXmlrpcHandler.modifySlice(OrcaXmlrpcHandler.java:895)
INFO   | jvm 1    | 2016/07/19 14:49:00 |       at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
INFO   | jvm 1

[2016-07-20 15:44] #65 closed, assigned to YufengXin

[2016-08-04 13:55] mcevik0 opened #66 "Add property for VM handler to configure delay for SSH connections"
@vjorlikowski  mentioned as below:

At PuCP, user SSH keys aren't necessarily being thrown into the VMs.
The reason? The "public" IPs aren't public - and any SSH daemon (in a VM) that has "UseDNS" set will hang for a while, waiting for the DNS lookup to fail.

As a result, the VM handler we currently have fails to insert user SSH keys, because it has a hard-coded 3 second timeout on the SSH call u

[2016-08-08 19:37] mcevik0 commented on #66
Insertion of a new property to ec2.site.properties to configure a delay for spawned SSH processes:

- "ec2.ssh.delay” property added to ec2.site.properties file and this property is passed to ec2/handler.xml as EC2_SSH_DELAY.

- ec2.ssh.delay property is optional in ec2.site.properties file.

- In nova_essex_common.py handler script, “delay” is inserted to Commands.run as a parameter (defaults to

[2016-08-08 21:02] vjorlikowski commented on #66
Argh. No.

I had hoped that the "timeout" parameter to that function would take a passed in parameter, rather than being a hard-coded value. Tacking on an additional delay for specific command execution is the wrong solution to this problem.

[2016-08-09 21:43] mcevik0 commented on #66
Timeout is passed by parameter. Additional delay removed. 477badc

[2016-08-25 17:48] ibaldin commented on #61
Seems to work, at least for SLURM stitchport.

[2016-08-25 17:48] #61 closed

[2016-08-26 20:41] YufengXin opened #67 "Exception in nlr control after the handler failed."
A recent outrage of the DD switch at Departure Dr. failed redeeming the reservation at the nlr actor, which subsequently caused a Exception in the NLR control code. This needs to be evaluated, note it seems to be a new bug introduced by the latest change the network control code to accommodate the stitchingport on  BEN.

https://github.com/RENCI-NRIG/exogeni/issues/63

----------------------------

[2016-08-30 16:26] mcevik0 opened #68 "Exception when creating "Broadcast Links""
Exceptions received for broadcast links.
![screen shot 2016-08-30 at 10 36 05](https://cloud.githubusercontent.com/assets/18286650/18097580/5e72c0ac-6eac-11e6-8965-f2d08be3665e.png)

On geni2.renci.org:/etc/orca/am+broker-12080/logs/orca-stdout.log
[code]

 @ibaldin @mcevik0

[2016-09-19 04:25] YufengXin commented on #68
HI, Mert,

I pushed in the fix, actually rolled back the previous change for stitchingport on BEN, which appeared problematic.

So please using the new code to redeploy the Exo controller. I've tested, in my emulator, multiple times of creation and deletion of p2p and MP inter-rack connections.

I'll fix the BEN stitchingport later.

Thanks.

[2016-09-19 13:41] ibaldin commented on #68
?BEN stichports were working and I think are used quite actively now...

[2016-09-19 13:49] YufengXin commented on #68
Yes, the BEN stitchingport works well, but it breaks the general inter-rack MP (when releasing), because I had to modify the way the sub-request is generated in the controller to BEN and DD.

The work I do with FREEDM center will not use the testbed for a while as we’re working on a new topic and is in the theory and simulation.

Are there other users on BEN stitchingport?

Yufeng Xin, PhD
RENCI
U

[2016-09-19 14:04] ibaldin commented on #68
?Fan uses it for integrating RADII with Hydroshare.

[2016-09-19 14:09] YufengXin commented on #68
ok, let’s redeploy anyway to resume the correct operation of ExoSM.

I’ll try to fix the stitching later this week...

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-09-19 14:15] mcevik0 commented on #68
Hello Ilya, Yufeng,

I understand that RPMs on geni.renci.org should be updated and a clean-restart is needed. Is that correct? If that is the case, I did not announce such a maintenance. Should I wait for this, or do it anyway maybe with a stateful restart?

[2016-09-19 14:24] YufengXin commented on #68
Ilya, it’s your call.

If nobody complains about the testbed now, we can hold the redeployment of the controller after I fix the problem correctly.

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-09-19 14:26] ibaldin commented on #68
I was only anticipating ION maintenance today.

[2016-09-19 14:28] mcevik0 commented on #68
To clarify my previous comment:

I planned the maintenance to update (RPMs, RDFs) geni2.renci.org and geni-ben.renci.org for ION, BEN, NLR actors. And I made such an announcement that inter-rack slices should be deleted and intra-rack slices would not be affected. However, if exo-sm is to be updated, then slices created though exo-sm will be affected.

As to the users, I heard from Fan last week t

[2016-09-19 14:33] ibaldin commented on #68
I guess it is issue 68, sorry I thought we were on the BEN/ION 100G upgrade issue.

At any rate, I don’t want to fix one by breaking the other. It is important we re-establish connectivity via AL2S new port *today* because we lose our connectivity tomorrow.

I don’t want to change 5 things at once and then try to figure out which one of them broke something that worked previously. Today is about r

[2016-09-19 14:33] mcevik0 commented on #68
The slice he wants to create is defined at the very beginning of this issue (there is a screen shot). I also attached the logs that I found on geni2.renci.org after he reported the problem.

[2016-09-19 14:33] mcevik0 commented on #68
OK, I go ahead with ION.

[2016-09-19 14:34] ibaldin commented on #68
controller updates can be painlessly done statefully without disturbing existing slices. There is no connection to today's more intrusive ION update.

Yufeng please instruct Mert *on the ION update issue, not this one* as to which actors need to be restarted today with updated RDFs to re-establish our connectivity to AL2S.

[2016-09-19 14:37] YufengXin commented on #68
Ok, so please just proceed with what you planned.

We'll do a stateful restart of the Exo controller later after my next check in.

Thanks

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-09-19 14:42] YufengXin commented on #68
Ok, ION update related only for today. Mert had it right:

"I planned the maintenance to update (RPMs, RDFs) geni2.renci.org <http://geni2.renci.org/> and geni-ben.renci.org <http://geni-ben.renci.org/> for ION, BEN, NLR actors."

Thanks

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-09-19 14:42] YufengXin commented on #68
Ok, so please just proceed with what you planned.

We'll do a stateful restart of the Exo controller later after my next check in.

Thanks

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-09-22 16:26] ibaldin opened #69 "Modify add node node type may not be properly set"
Reported by Paul. VMs come out default size no matter what you set on the modified node.

[2016-09-22 16:26] ibaldin commented on #18
Is this still an issue after we switched to OVS?

[2016-09-22 17:51] #62 closed

[2016-09-22 17:56] ibaldin opened #70 "Distinguishing node-level broadcast from domain multi-point connections"
As per conversation with @paul-ruth and @YufengXin there is an overlap in meaning when selecting broadcast links as a link type when multiple domains are involved. The user implies broadcast behavior w.r.t. individual nodes, whereas controller interprets it as multi-domain and binds to DD. The controller needs to be smarter and avoid binding to DD if only one or two domains are involved.

In this

[2016-09-22 18:00] ibaldin commented on #69
@mcevik0 Mert will check on this and report. Also adding @paul-ruth to the discussion.

[2016-09-22 19:26] vjorlikowski commented on #18
On Thu, Sep 22, 2016, at 12:26 PM, Ilya Baldin <notifications@github.com> wrote:

It should not be, any longer.
Management interfaces can still get leaked, though, in rare cases.

[2016-09-22 19:26] ibaldin commented on #18
Closing, with prejudice!

[2016-09-22 19:26] #18 closed

[2016-09-22 19:32] mcevik0 commented on #69
Test:
- Create a slice (RCI - UH)
- Add a node on RCI (Select node type: "Site default"), modify slice

   Result: Node is created with 1 CPU, 512MB memory, 11G disk which corresponds to m1.large as stated in ec2.instance.type property in ec2.site.properties.
   Node information on Flukes (right click) shows "Node Type: Site default"
- Add another node on RCI (Select node type: "XO Extra large"),

[2016-09-22 19:33] ibaldin commented on #69
So it looks like the node is created properly, but the metadata doesn’t properly reflect its actual size?

-ilya

[2016-09-22 19:56] mcevik0 commented on #69
I did more tests. It seems just a little bit more complicated.
- I used the existing slice (RCI - UH) to modify.
- Add a node at another site (TAMU) and connect to UH (Select node type: "XO Extra large"), modify slice.
   Result: Node is created properly, information on Flukes shows node type correctly.
-  Add a node at TAMU site  (Select node type: "XO Extra large"), modify slice.
    Result: Nod

[2016-09-22 20:08] ibaldin commented on #69
Also see #41

[2016-09-22 20:10] ibaldin commented on #63
Intradomain works.

[2016-09-22 20:10] #63 closed

[2016-09-22 20:14] ibaldin commented on #68
Resurfaced during migration to 100G for BEN RENCI-NRIG/exogeni#52 and was solved by re-enabling the label sync thread. Watching the performance, closing for now.

[2016-09-22 20:57] ibaldin opened #71 "Modifying broadcast links in multi-domain slices"
Having a two- or three- or more domain slice, one should be able to add nodes to existing sites once the slice is created. Basically attaching nodes to existing rack-local VLANs that are already part of the slice should work and currently does not.

Testing scenarios should involve two-domain and three-domain cases (create a two- or three-domain slice, try to add nodes to existing rack-local VLANs

[2016-09-23 14:27] YufengXin commented on #69
fixed in commit  c3529eeb81361a0de3fc23aa6394d2d5ba984267

[2016-09-23 16:31] #69 closed

[2016-09-23 16:35] YufengXin commented on #49
fixed

[2016-09-23 16:35] #49 closed

[2016-09-23 16:47] YufengXin commented on #67
fixed in 11c8055b7e22070597c5d9cdfcec683c9ea8b4c5, which also fixed the NPE when deleting a slice with a stitching port on BEN reported yesterday.

[2016-09-23 16:47] #67 closed

[2016-09-24 01:15] ibaldin commented on #68
Reopening this issue - Mert saw this exception when there were TWO active connections to RCI followed by a multi-point connection. Needs further investigation.

[2016-09-24 04:43] YufengXin commented on #71
This appears to be a Flukes visualization issue: after new nodes add to the rack-local VLAN, the vlan sliver has more than two interfaces. However, it is not a broadcast and does not show all the links.

I ran a simple test: a BBN to FIU dumb bell first, then add a new node to the bbnNet vlan. I ping the new node and manifest RDF looks right to my eye.

@paul-ruth, because you application does not

[2016-09-24 05:23] YufengXin commented on #70
roll back to treat 2-branch MP as a P2P. commit 0cc50f0370e5e8f9213d5ffd1e805c51553c16cc.

[2016-09-24 05:23] #70 closed

[2016-09-24 05:27] YufengXin commented on #68
The latest commit on fixing #67 and the NPE when deleting a slice into RCI may fix this. I tried in emulator with 2 active P2P slices into RCI, then a MP slice with RCI, there is no Exception.

Mert, please rebuild the RPM w/ the latest code and redeploy DD and BEN.

There are a couple of commits in fixing issues in the controller. So it's good time to restart the controller altogether, including

[2016-09-26 13:59] mcevik0 commented on #68
ORCA rebuit. geni.renci.org, geni2.renci.org, geni-ben.renci org updated with latest build.
- geni2.renci.org: clean-restarted.
- geni-ben.renci.org: clean-restared.
- geni.renci.org: controller JVM stateful restarted.

[2016-09-26 15:06] paul-ruth opened #72 "New stitchport for Odum's Discovery Environment"
This issue is for a discussion about setting up a stitchport for Odum to use for their Discovery Environment.  Their machines are on campus.

[2016-09-28 15:14] ibaldin opened #73 "BEN Stitchports allow reusing already taken VLAN tags"
Per @mcevik0 if you create a BEN stitchport (e.g. on hydroshare) and reuse an already taken stitchport tag it does not result in controller error, instead it attempts to create an invalid mapping configuration on the RENCI QFX and torques the switch configuration, requiring a manual cleanup

[2016-09-28 15:15] ibaldin commented on #72
This needs to go into ExoGENI issues. closing

[2016-09-28 15:15] #72 closed

[2016-09-28 15:23] ibaldin commented on #68
Appears fixed.

[2016-09-28 15:23] #68 closed

[2016-09-28 15:24] ibaldin commented on #58
Also see #73

[2016-09-28 15:57] ibaldin commented on #73
Also see #58

[2016-09-28 17:17] ibaldin commented on #71
I tried a test with 3 nodes on each side PSC/BBN initially (total of 6) with broadcast link in between. That succeeds. Then adding one more node on PSC side results in a garbled manifest, however the new node is created and is properly connected.

![screen shot 2016-09-28 at 1 17 19 pm](https://cloud.githubusercontent.com/assets/12304033/18924360/ecfbc98a-857d-11e6-9a42-e34aa81d12f3.png)

[2016-09-28 17:57] ibaldin opened #74 "Modify add core network (inter-domain) breaks manifest"
This works fine in intra-domain case, but breaks in inter-domain case.

Start with a single node (bound)
As a second step add three more nodes with two broadcast links in between, each node bound to a different site. This should result in 3 nodes connected with 2 inter-domain links. The end manifest is broken. There is an exception in flukes

![screen shot 2016-09-28 at 1 56 45 pm](https://cloud.g

[2016-09-28 17:58] ibaldin commented on #74
Possibly related to #71

[2016-09-28 18:03] ibaldin commented on #74
This does not happen if I use point-to-point link between nodes being added. However in this case the result should be the same as the 'broadcast link' connects only two sites at a time.

[2016-09-28 18:59] ibaldin commented on #71
Ilya to look at manifest for a simple two-node case to see what is missing.

[2016-09-28 20:29] ibaldin commented on #46
Looks like a manifest contains an individual named 'controller' that has an assertion hasURL pointing at ORCA controller that generated the manifest. Possibly this is the cause.

[2016-09-28 21:55] ibaldin commented on #71
The culprit lies in the fact that when a node is added to an existing VLAN, that VLAN now also becomes 'NetworkConnection' in the manifest:
[code]

which forces the ManifestParser to skip it.

This is fixed in manifest parser now and the new parser is deployed into Nexus, however the code is not yet committed, because other changes are coming. Tested for inter- and intra- rack slices with storage

[2016-09-28 22:02] ibaldin commented on #71
Fixed in 620441c

[2016-09-28 22:11] ibaldin commented on #74
Apparently this is not a modify issue, this happens with new requests as well. An artifact of dealing with two-domain broadcast links.

[2016-09-29 19:48] ibaldin commented on #58
Per Yufeng - BEN control doesn't deal with delegated tags the way that per interface control does, so this isn't an easy fix.

[2016-09-29 19:49] ibaldin commented on #73
This is really a replication of #58, closing

[2016-09-29 19:49] #73 closed

[2016-09-30 17:35] ibaldin opened #75 "Unbound request on a rack controller for two nodes and b-cast link produces no reservations"
If I try to create a simple slice on a rack-local controller with 2 or 3 nodes and a b-cast link connecting them, no reservations are created.

Tested on RCI and TAMU in current deployment.

@mcevik0

[2016-09-30 17:36] ibaldin commented on #75
Seems to work if I bind them.

[2016-10-04 04:07] #75 closed

[2016-10-04 19:26] mcevik0 commented on #75
ORCA RPMs updated (RENCI-NRIG/orca5@3da522c) on RCI and TAMU.
Tested on RCI and TAMU.
Reservations are created with no errors for unbound requests.

[2016-10-04 20:44] mcevik0 commented on #74
I tested this as below and I worked ok, but I wanted to verify if this is the correct case.
- Create a node on BBN.
- After the VM is active, create two nodes on TAMU and PSC. Create a broadcast link, and connect all three nodes to the broadcast list. Submit modify request.
- The slice is modified as below, all components active, traffic can be exchanged.

![screen shot 2016-10-04 at 16 42 59](htt

[2016-10-04 21:44] YufengXin commented on #74
Hi, Mert,

Thanks for the testing. This test case is different as shown in my attached screenshots:

There will be two broadcast links connecting three nodes in three different sites. Because there are only two nodes in each broadcast link, it is expected to form two P2P paths actually, without going through the nlr site.

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mai

[2016-10-05 00:49] mcevik0 commented on #74
Test Slice:
- Create node1 on PSC.
- After node1 is active, create node2 on BBN, node3 on UH. Connect node1 and node2 with broadcast link1, connect node1 and node3 with broadcast link2. Submit modify request.
- Exception received as below.

![screen shot 2016-10-04 at 20 48 02](https://cloud.githubusercontent.com/assets/18286650/19097601/ffbeca68-8a73-11e6-8907-fe455656deb6.png)

[2016-10-05 01:33] YufengXin commented on #74
Thanks, Mert,

Somehow I could not duplicate this exception in my emulator. We can let Anirban to use and test it for now.

I’ll discuss this with you on Thursday.

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-10-05 16:56] mcevik0 commented on #74
Hello Yufeng, Anirban,

I added the information you sent over email to the issue below:

Message 1 from Anirban:

![screen shot 2016-10-05 at 12 51 11](https://cloud.githubusercontent.com/assets/18286650/19122865/7265bdf2-8afa-11e6-8dc8-cb111c5f013e.png)

Message 2 from Anirban:

Message 3 from Anirban:

Message from Yufeng:

[2016-10-05 17:20] paul-ruth commented on #74
This needs to be re-opened and tested before it is closed. This fix broke some basic functionality that wasn't tested before pushing to production.

A basic interdomain dumbell using a bcast network does not work anymore.   For some reason the VMs no longer have the information about their images.

[2016-10-05 22:19] ibaldin commented on #74
Mert can you roll back the controller on ExoSM to the previous version?

[2016-10-06 01:13] mcevik0 commented on #74
- RPMs on geni.renci.org downgraded to 201609260526git98e14914 build.
- Controller JVM stateful-restarted.
- MP slices can be created without errors.

[2016-10-07 21:51] YufengXin commented on #74
added the image info in commit #2087c9a843ac60f57f099b5edf1663c2cfde002a

Hi, Mert,

Please rebuild and statefully restart the controller when you get chance. thanks.

[2016-10-07 22:32] mcevik0 commented on #74
- ORCA built for the new commit.
- RPMs updated on geni.renci.org, controller JVM stateful-restarted.
- However, MP slices cannot be created. Below is the manifest returned for a slice connecting three sites with broadcast link.

<img width="1284" alt="screen shot 2016-10-07 at 18 29 59" src="https://cloud.githubusercontent.com/assets/18286650/19207166/5f688856-8cbc-11e6-9416-e2f0fee756f7.png">

[2016-10-07 22:33] mcevik0 commented on #74
I am reopening the issue.

[2016-10-07 22:40] mcevik0 commented on #74
Hello Yufeng,
I think it is either previous version of ORCA RPMs need to be deployed or the issue has to be fixed. I wanted to ask what I should do at this point. I tested by creating a P2P slice first which succeeded, then a MP slice which returned the manifest above.

[2016-10-07 22:51] YufengXin commented on #74
Thanks,

Leave as it is for now, I will look into it tonight.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: mcevik0 <notifications@github.com>
Date: 10/7/16 6:40 PM (GMT-05:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Cc: Yufeng Xin <yxin@renci.org>, State change <state_change@noreply.github.com>
Subject: Re: [RENCI-NRIG/orca5] Modify add core network (in

[2016-10-08 00:45] ibaldin commented on #74
Mert after yufeng diagnoses the issue we need to go back to the stable version unless he thinks the fix is quick. I don't want to leave the testbed in this state.

[2016-10-08 14:42] YufengXin commented on #74
Mert, you can roll it back if users scream and you have time.  I'll look into it more today in the emulator when I get chance.

This appears to be a manifest display issue, the slice works. Actually, if this MP slice is created with node group, even 1 node in each group, instead of the single node, it just works fine.

Ilya, when you get chance, please help take a look at the two manifest RDF file

[2016-10-08 15:10] ibaldin commented on #74
I'm driving most of the day today. I'll do my best.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: YufengXin <notifications@github.com>
Date: 10/8/16 10:42 AM (GMT-05:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Cc: Ilya Baldin <ibaldin@renci.org>, State change <state_change@noreply.github.com>
Subject: Re: [RENCI-NRIG/orca5] Modify add core network (inter

[2016-10-08 15:15] YufengXin commented on #74
don’t worry about it, it is not a critical problem at all. We’ll discuss it on Monday if I don’t fix it.

safe driving!

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-10-08 19:23] mcevik0 commented on #74
Hello Ilya and Yufeng,
I just rolled back to the previous version:

- RPMs on geni.renci.org downgraded to 201609260526git98e14914 build.
- Controller JVM stateful-restarted.
- P2P and MP slices can be created without errors.

[2016-10-10 17:31] ibaldin commented on #74
@YufengXin I don't think email attachments automatically get attached to the issue responses. Can you attach the manifests as .txt files *to the issue, not in an email* (it won't take other extensions)

[2016-10-10 18:29] YufengXin commented on #74
I ran into three manifest scenario in the emulator when creating the same inter-rack MP w/ three branches: the right display, one branch not connected, and all three branches not connected. The three manifest RDF are attached here. Thanks

[mp-manifest-right.txt](https://github.com/RENCI-NRIG/orca5/files/520159/mp-manifest-right.txt)
[mp-manifest.txt](https://github.com/RENCI-NRIG/orca5/files/5201

[2016-10-10 19:39] ibaldin commented on #74
The problem *may* be in my path parsing code. I'm investigating.

[2016-10-10 20:11] ibaldin commented on #74
It appears that VLAN0-NodeX interface is attached to all xxNet domain VLANs and that messes with the pathfinding code. Here is from mp-manifest-right.txt above:

BBN (Node0):
[code]

FIU
[code]

It appears the issue is random because of the order of parsing the NDL. If my code picks up the VLAN0-NodeX interface as outgoing from the Net crossconnect, the pathfinding stops and the full path is not d

[2016-10-10 22:54] YufengXin commented on #74
Simply creating a new interface with different url won’t work, because the node(s) would still carry the original interfaces from the request.
So a new node resource w/ different url has to be created.

If Flukes links a node and its upstream xNet vlan first, is it possible and simple for you to mark that interface being used already, so that it won’t be used by the Broadcast link node?

I am look

[2016-10-11 01:15] ibaldin commented on #74
This is what you want me to deal with. Just documenting it.

![slide1](https://cloud.githubusercontent.com/assets/12304033/19255690/985360e0-8f2e-11e6-826c-414cc7f80a6b.png)

[2016-10-11 13:58] ibaldin commented on #74
To answer the question the linking of the node to site net is a completely separate process from finding a path from site net to VLAN0 root. In fact pathfinding code doesn't even see Node (above).

One possibility is to filter out the orange interface (usually named VLAN0-Node) by the presence of a MAC address statement on it. All other interfaces between site net, ion, vlan0 and potentially BEN w

[2016-10-11 13:59] ibaldin commented on #74
The other alternative is to change the code to look for multiple paths between site net and VLAN0 and pick the longest.

[2016-10-11 14:14] YufengXin commented on #74
Sounds too complicated and too much work. Let me see what I can do then.

Thanks.

-Yufeng

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-10-11 17:15] ibaldin commented on #74
The problem with stitchport is that now the VLAN0 element has a statement that it hasInterface of the interface belonging to the link connection leading to the stitching domain (bypassing BEN domain). The interface is

[code]
The VLAN0 definition (partial):
[code]

Then there is a link connection that has that same interface
[code]

then the stitching domain itself
[code]

BEN domain also has the

[2016-10-11 17:24] ibaldin commented on #74
![slide1](https://cloud.githubusercontent.com/assets/12304033/19280981/0128f3b4-8fb6-11e6-9d93-ccce942c2527.png)

[2016-10-11 17:28] ibaldin commented on #74
I can see if I can isolate this interface by virtue of it being on a stitchport.

[2016-10-11 17:30] YufengXin commented on #74
Same reason, it is the stitching interface from the request, which is used in the manifest.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Ilya Baldin <notifications@github.com>
Date: 10/11/16 1:24 PM (GMT-05:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Cc: Yufeng Xin <yxin@renci.org>, Mention <mention@noreply.github.com>
Subject: Re: [RENCI-NRIG/orca5] Mo

[2016-10-11 17:45] ibaldin commented on #74
Actually the picture is more like below and a simple test for attachment to stitchport breaks pathfinding for the stitchport completely, because the code doesn't know how to exit from the stitchport (the only interface out is ignored)

![slide1](https://cloud.githubusercontent.com/assets/12304033/19281596/edc95176-8fb8-11e6-8db1-1b817b79c491.png)

[2016-10-11 17:53] ibaldin commented on #74
OK, I have a version that properly displays the manifests you've given me so far.

[2016-10-11 17:54] ibaldin commented on #74
I can't guarantee this won't create some artifacts for RSpec conversion though - it uses a different method of linking things together and may produce incorrect RSpec manifests. I'd need to try it.

[2016-10-11 18:06] ibaldin commented on #74
The NDL conversion doesn't really work for multipoint connections, but I don't recall if it ever has (Paul @paul-ruth  can you remember?). Point to point seems fine. No exception is thrown in any of the cases, just the RSpec doesn't look complete.

[2016-10-11 19:05] ibaldin commented on #74
Mert will update the RPMs on ExoSM and RCI. I've uploaded a new version of flukes to

[code]
Not that this is not the stock version and you need to wget/curl this jnlp file to get the properly functioning Flukes @anriban

[2016-10-11 19:07] paul-ruth commented on #74
I think it used to work.   I think I remember showing Niky.  I don’t really use GENI/rspec that often so I don’t really know for sure.

Paul

On Oct 11, 2016, at 2:06 PM, Ilya Baldin <notifications@github.com<mailto:notifications@github.com>> wrote:

The NDL conversion doesn't really work for multipoint connections, but I don't recall if it ever has (Paul @paul-ruth<https://github.com/paul-ruth> c

[2016-10-11 19:09] ibaldin commented on #74
Well, I will have to look at it then. I need to figure out how RSpec supports multi-point connections - it didn’t used to but maybe my memory is failing. It’s been at least a year since I’ve looked at NDL-RSpec converter at any depth.

[2016-10-12 16:09] mcevik0 commented on #74
- PostBootScripts are not processed when slices with inter-domain (P2P) broadcast-links are created. (This actually works when inter-domain slices without broadcast-links are created).
- PostBootScript information exist in the manifests returned, however they not submitted into the VM.)

[2016-10-12 16:26] anriban commented on #74
I had the same issue when I tried to create the SC demo slice. The VMs connecting two domains with a broadcast link were missing their postboot scripts, i.e. neuca-user-data was showing the [scripts] section empty. This prevents configuration of the sdx switches and hence the edge VMs can’t communicate with edge VMs in other domains. The other VMs that are hanging off intra-domain broadcast links

[2016-10-12 18:10] YufengXin commented on #74
I forgot to add it to the conversion, please give it a try now.

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-10-12 18:38] mcevik0 commented on #74
Redeployed ORCA on exo-sm, tested, postbootscripts are processed.

[2016-10-12 20:32] ibaldin opened #76 "Modify link existing node to bcast-link doesn't work"
Creating a slice that has a standalone node and N nodes connected to a broadcast link and then as modify linking the node to that link does not do anything. Errors are not thrown, but the modify handler is not invoked and no new interface materializes on the reservation. Also pequod doesn't show any new modify properties on the VM reservation. Logs show what appears a normal sequence on the contro

[2016-10-12 20:33] ibaldin commented on #76
Nothing happens after the last log message above - i.e. the callback log is not visible.

[2016-10-12 20:37] ibaldin commented on #76
Tested on TAMU and SM local controllers

[2016-10-13 04:07] YufengXin commented on #76
Yeah, there appeared a problem in generating the correct properties for this case, which somehow didn’t count the existing vlan reservation correctly.
The fix is actually minor, the large chunk of “git diff” is due to adjusting the indent.

Ilya, the property “sitehostinterface” you asked is actually the sequence number of the NIC of VM.

Fixed in Commit #f9117a042b82ea9530ee8644dcaae76b2bf4acb5

[2016-10-13 18:33] mcevik0 commented on #74
Some problems exist with MP slices. I created three MP slices connecting three racks with broadcast link. Two of them failed. Attached below, one of the manifests returned for a failure. I'm not sure what caused the failure, I'll check and and try to find out the condition.

<img width="1312" alt="screen shot 2016-10-13 at 14 27 34" src="https://cloud.githubusercontent.com/assets/18286650/19361782

[2016-10-13 18:48] ibaldin commented on #74
Are you using a new version of Flukes or stock?

[2016-10-13 18:49] ibaldin commented on #74
You should be using this

http://geni-images.renci.org/webstart/0.7-SNAPSHOT/flukes.jnlp

[2016-10-13 19:09] mcevik0 commented on #74
I switched to the new version. Sorry, I forgot. I'm creating slices and did not have any problems.

[2016-10-13 21:11] ibaldin commented on #76
@YufengXin reports that when connecting a node to a net crossconnect that is part of a two-domain dumbbell he receives an error from Flukes. To be investigated.

[2016-10-17 16:37] #23 closed

[2016-10-19 03:06] ibaldin commented on #46
The behavior of this bug has changed recently, but it is still there. The best manifestation seems to be an incomplete description of the node named 'controller' in the manifest, like so:
[code]
State is absent even though in pequod you can see the reservation is fine. In Flukes now the node shows grey because its state is unknown, but I'm not seeing the exception anymore. I think this is a proble

[2016-10-19 03:20] ibaldin commented on #46
This is fixed on slicestitch branch and will be deployed across exogeni when slicestitch branch is merged onto trunk in Oct 2016. @paul-ruth @anriban @YufengXin

[2016-10-19 03:20] #46 closed

[2016-10-19 13:50] ibaldin commented on #74
Can we close this?

[2016-10-19 14:17] mcevik0 commented on #74
I'll checking to verify.

[2016-10-19 17:43] mcevik0 commented on #74
To verify all of the issues we had during this work are resolved, I did some tests.
- MP slices with three sites can be created successfully.
- Two branch-P2P slices with broadcast links can be created such as
   SL--BL---**PSC**---BL--UAF

   Also postboot scripts are processed successfully.
- However, there is a problem with slice modification. I created a single node on UFL rack. Then I added t

[2016-10-21 15:04] ibaldin commented on #74
@YufengXin please look at the previous report from Mert when you have time.

[2016-10-24 15:48] ibaldin opened #77 "Add reservation expiration time to manifest on per-reservation basis"
With slice modify, users can be confused about when a particular reservation times out. 'Slice reservation time' really no longer makes sense (never did, really). We should take that out and replace with per-reservation expiration time in manifest.

Extend operations are really per-reservation operations anyhow.

We can then modify Flukes and client libraries to support this.

@YufengXin @paul-rut

[2016-10-24 15:51] ibaldin commented on #77
We can keep the semantics of the extendSlice call as is for now (as in 'extend all currently active reservations in this slice until date D', however long term we may want to fully expose the per-reservation semantics.

[2016-10-24 17:08] ibaldin commented on #48
@YufengXin please take a look - should be an easy fix, no? Seems this has been languishing for a while.

[2016-10-24 17:09] ibaldin opened #78 "Enqueued sliver modifies stop working after slice recovery"
Seems no new sliver modifies work after a slice is recovered - they just sit in the controller queue. This probably affects various slice modify scenarios as well as slice stitching (for sure). Inverstigating.

[2016-10-24 20:00] ibaldin opened #79 "SM recovery NPE"
Recovering SM too quickly after slice creation
[code]

[2016-10-25 17:54] #79 closed

[2016-10-25 17:56] ibaldin commented on #78
Fixed in ab61b0c

Explanation:

In order to properly pass to AM, the config properties in modify must be set on ‘resources’ resourceSet in ServiceManager modify() call. Under normal circumstances, resources, requestedResources and approvedResources SM-side are the same object, so it doesn’t matter. After recovery they become different objects, but the AM sees what is set on resources resourceSet.

[2016-10-25 17:56] #78 closed

[2016-10-25 18:25] YufengXin commented on #48
I tested it in emulator and saw the mac property was being sent:

—controller output---------
INFO   | jvm 1    | 2016/10/24 19:05:05 | Number of new parent reservations:1;num_interface=0;num_storage=0
INFO   | jvm 1    | 2016/10/24 19:05:05 | parent r_id=326910a8-e60f-440b-a834-b13ba6ed8153;unit tag:2;unit_parent_url:http://geni-orca.renci.org/owl/6c3e0b9e-2b34-4006-ae80-74abb624e451#Link0;n=10
I

[2016-10-25 18:28] ibaldin commented on #48
I think the issue is it isn't set in the manifest.

[2016-10-26 20:01] ibaldin commented on #36
@anriban reports issues with accounting XXL VMs and receiving misleading info from broker. This should be looked at after SC.

[2016-10-26 20:04] ibaldin commented on #74
@mcevik0 Mert please deploy latest with controller restart on ExoSM and on UVA-NL. Let Ben test #48 on UVA and you can test #74 on ExoSM, since both have been addressed.

[2016-10-26 22:49] mcevik0 commented on #74
ORCA updated on ExoSM, controller stateful-restarted.
Test succeeded for two-branch point-to-point slice modification.
All tests repeated:
- MP slices with three sites: OK
- Two branch-P2P slices with broadcast links creation: OK
- Two branch-P2P slices with broadcast links modification: OK

[2016-10-26 22:52] mcevik0 commented on #48
Hello Ben @Bun  ,
UVA-NL rack is updated for the fix. Can you test to check if this is working now?
Best regards,
Mert

[2016-10-27 00:27] mcevik0 commented on #74
Closing the issue.

[2016-10-27 00:27] #74 closed

[2016-10-27 15:37] YufengXin commented on #74
I ran it a”cannot get console log” error at UFL. However there is no such error at RCI (VM up successfully) when using the same image (my new image).
Any clue? thanks.

INFO   | jvm 1    | 2016/10/26 19:30:39 |      [echo] EC2_HOME=/etc/orca/am+broker-12080//packages/pkg/87DBB2BE-7977-4463-A0CB-F6043735DEF9/tools/
INFO   | jvm 1    | 2016/10/26 19:30:39 |      [echo] EUCA_KEY_DIR=/etc/orca/am+brok

[2016-10-27 15:42] paul-ruth commented on #74
It means the image didn’t boot properly.  There really isn’t anymore detail than that.

Paul

On Oct 27, 2016, at 11:37 AM, YufengXin <notifications@github.com<mailto:notifications@github.com>> wrote:

I ran it a”cannot get console log” error at UFL. However there is no such error at RCI (VM up successfully) when using the same image (my new image).
Any clue? thanks.

INFO | jvm 1 | 2016/10/26 19:

[2016-10-27 15:44] ibaldin commented on #74
This is a different issue, lets not add it to this ticket please. This remains closed. Report this to exogeni-ops.

[2016-10-27 19:51] ibaldin commented on #76
More info about this bug:

![screen shot 2016-10-27 at 3 50 10 pm](https://cloud.githubusercontent.com/assets/12304033/19782729/184f6db2-9c5d-11e6-9ee4-8c99742097e8.png)

I suspect that the issue may be with multiple types associated with the corssconnect in question in the manifest.

[2016-10-27 20:08] ibaldin commented on #76
Yes the issue is that the VLAN that is being connected to via link-add-modify to an existing node in the same domain has two type declarations:

[code]

while a regular VLAN has only one
[code]
this confuses the parser.

[2016-10-27 20:20] ibaldin commented on #76
Should be fixed in cba483a30057f3fec4f505f270b0d837cc9aae1d. This is NdlManifestParser, so affects Flukes and Ahab. I tried to be careful not to change existing behavior outside of the intended fix. New version of ndllib is deployed to Nexus. New version of flukes deployed to main webstart area (together with slice stitching fixes).

@paul-ruth

[2016-10-27 20:20] #76 closed

[2016-10-28 16:51] mcevik0 commented on #71
After updating ExoSM for RENCI-NRIG/orca5@6011a0b , tests are executed to check all previous issues.
Errors received for the case stated on this issue:
- Slice connecting PSC and BBN, 3 nodes in each site, broadcast link connecting all 6 nodes created.
- 2 nodes (PSC rack) are missing in the manifest, exception reported on 2 nodes
- Manifest is attached:
[multi-domain-broadcast-link.txt](https://g

[2016-10-28 17:22] ibaldin commented on #71
This may be a different issue than described in this ticket. Please stay tuned.

-

[2016-10-28 18:59] ibaldin opened #80 "Creating a multi-domain broadcast link with two sites, multiple nodes fails"
This was descovered while testing for #71 however this is a new and separate issue for something that worked in the past. It is easily reproducible in emulation and gives the same results as in ExoSM.

Take three nodes bound to BBN, three nodes bound to FIU, place a broadcast link in between. There are several problems:
1. Manifest looks disconnected
2. Some of the VM reservations are missing
3. 2

[2016-10-28 18:59] ibaldin commented on #80
Manifest picture:

![screen shot 2016-10-28 at 2 59 35 pm](https://cloud.githubusercontent.com/assets/12304033/19818750/2c327046-9d1f-11e6-9715-a5c601470c6d.png)

[2016-10-28 19:02] ibaldin commented on #71
This ticket will stay opened until #80 is fixed, until then this can't be tested.

[2016-10-29 13:13] ibaldin commented on #80
@YufengXin If you don't think this ever worked I suggest you leave it alone for the moment

[2016-10-29 13:14] ibaldin commented on #71
We should test this with a two-site/two-node case and leave #80 be for the moment.

[2016-10-30 12:24] YufengXin commented on #71
Hi, Ilya,

I think I fixed this problem (again rooted in the conversion from p2p MP to p2p). I’ve tested all the previous related test cases in Emulator.
Pls let me know if you have checked in all you have, then I’ll check in, so it is easy to roll back in case more problems.

Yufeng Xin, PhD
RENCI
UNC at Chapel Hill
1-919-445-9633
yxin@renci.org <mailto:yxin@renci.org>

[2016-10-30 13:26] ibaldin commented on #71
Everything I have is checked in

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: YufengXin <notifications@github.com>
Date: 10/30/16 8:24 AM (GMT-05:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Cc: Ilya Baldin <ibaldin@renci.org>, State change <state_change@noreply.github.com>
Subject: Re: [RENCI-NRIG/orca5] Modifying broadcast links in multi-domain slices (

[2016-10-31 03:05] mcevik0 commented on #71
ORCA rebuilt (RENCI-NRIG/orca5@0941f06)
- geni.renci.org: RPMs updated. Controller JVM stateful-restarted.

[2016-10-31 13:57] mcevik0 commented on #71
Test:
Create two nodes on each of two sites, connect all of the nodes with a broadcast-link: Succeeded.

<img width="1312" alt="screen shot 2016-10-31 at 09 53 38" src="https://cloud.githubusercontent.com/assets/18286650/19856560/5fcb78b6-9f50-11e6-8323-a64961b099a2.png">

[2016-10-31 14:03] mcevik0 commented on #71
Test:
Create _three_ nodes on each of two sites, connect all of the nodes with a broadcast-link: Succeeded.

[2016-10-31 14:03] mcevik0 commented on #80
ORCA rebuilt (RENCI-NRIG/orca5@0941f06)
- geni.renci.org: RPMs updated. Controller JVM stateful-restarted.

Test:
- Create _two_ nodes on each of two sites, connect all of the nodes with a broadcast-link: Succeeded.
- Create _three_ nodes on each of two sites, connect all of the nodes with a broadcast-link: Succeeded.

[2016-11-04 19:43] ibaldin commented on #80
Sounds like problem solved to me.

[2016-11-04 19:43] #80 closed

[2016-11-04 20:11] ibaldin commented on #71
By all indications works in emulation. Tested adding a link to existing node from Net VLAN and then adding a new node to Net VLAN. Invocations of the handler for modify add interface and add node look correct. Closing.

[2016-11-04 20:11] #71 closed

[2016-11-04 20:13] ibaldin commented on #55
Is this still a problem?

[2016-11-04 20:29] ibaldin commented on #55
Looks fixed to me. Did a modify-add-node on ID slice and this is what I see
[code]

Closing

[2016-11-04 20:29] #55 closed

[2016-11-10 22:47] ibaldin opened #82 "Modify slice doesn't work after 24 hours"
Broker
[code]
Controller
[code]
On pequod (note the start and end times, in this case they correspond to the original slice creation term (without extension) and end time has already passed):
[code]
Looks like controller created a reservation that was already expired? The broker then promptly closes it, so does SM (probably)

ReservationConverter.formReservations uses boundElements to create ticke

[2016-11-11 05:22] ibaldin commented on #82
@mcevik0 I think this is fixed now. Please statefully redeploy exo-sm controller. Closing.

[2016-11-11 05:22] #82 closed

[2016-11-11 08:15] mcevik0 commented on #82
ORCA rebuilt, exo-sm controller and PSC controller statefully redeployed.

[2016-11-11 12:16] hinchliff opened #83 "Create docker images"
The proposed idea is to make docker image(s) to run Orca, with the following benefits:

1. Allow developers to test Orca on their local machine, without using the VM
1. Jenkins can use the Docker images for CI

It is possible for Maven to build the docker images ([docker-maven-plugin from Spotify?](https://github.com/spotify/docker-maven-plugin)), so ideally we would probably have Maven both creat

[2016-11-11 12:27] vjorlikowski commented on #83
On Fri, Nov 11, 2016, at 04:16 AM, hinchliff wrote:

So - *do* give the rpm-maven-plugin a shot - but...

I looked into it, "way back when" - and I chose to author the
buildrpm script instead, because shoehorning ORCA's build into a
"standard" RPM build that the Maven plugin could understand looked
like it would be particularly unpleasant.

The Maven RPM plugin looks (to me) like it was designed f

[2016-11-11 12:46] hinchliff commented on #83
Well, yeah, that's part of why I'm leaving that piece alone for now :)

[2016-11-11 16:47] hinchliff commented on #83
Actually I figured out (at least one hack) to get MySQL into a separate container. I started a new branch to track the code: [docker](https://github.com/RENCI-NRIG/orca5/tree/docker).

There is a lot of configuration stuff here that I am muddling through.  I'm not sure how accurate the [installation:details](https://wiki.exogeni.net/doku.php?id=private:installation:details) page is?

[2016-11-11 16:55] mcevik0 commented on #83
Installation details are quite accurate, some caveats exist mostly about xCAT configuration. I can help for each step, installing, configuring etc.

[2016-11-11 17:09] hinchliff commented on #83
My SM container is currently giving this error, and I'm not even sure where to start looking.  Is this a configuration problem?  Or a dependency problem?

[2016-11-12 16:02] ibaldin commented on #83
This looks like possibly an axis issue. Perhaps keystores aren't properly initialized.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: hinchliff <notifications@github.com>
Date: 11/11/16 12:09 PM (GMT-05:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Subject: Re: [RENCI-NRIG/orca5] Create docker images (#83)

My SM container is currently giving this error, an

[2016-11-15 19:27] hinchliff commented on #83
Well, Mert gave me some updated JKS files, and it seems like maybe my controller can talk to the SM now.  But I get this error when I try to create a new slice.  The error can be seen both in Flukes, and in the AM+Broker log:

Mert suggested I needed to copy the extra properties files (e.g. ec2.site.properties) into the am+broker config directory.  I copied the properties files from the emulation

[2016-11-15 19:51] ibaldin commented on #83
You need to either turn on emulation or specify the ec2 properties, among which is cloud.type

You can see how it is done on any operational rack config.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: hinchliff <notifications@github.com>
Date: 11/15/16 12:28 PM (GMT-07:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Cc: Ilya Baldin <ibaldin@renci.org>, Commen

[2016-11-15 19:55] hinchliff commented on #83
Well, I have "emulation=true" in both the am+broker and the sm config (orca.properties) ...  Is there somewhere else I need to turn it on?

[2016-11-15 20:30] ibaldin commented on #83
It may be that the cloud type needs to be specified anyway. look at handlers/ec2/resources/handlers/ec2/handler.xml and follow the 'join' target logic.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: hinchliff <notifications@github.com>
Date: 11/15/16 12:55 PM (GMT-07:00)
To: RENCI-NRIG/orca5 <orca5@noreply.github.com>
Cc: Ilya Baldin <ibaldin@renci.org>, Comment

[2016-11-15 20:57] hinchliff commented on #83
Hmmm... yes, I can't figure out where (at least in my copy) the emulation VM sets cloud.type.  But if I set that value, I can create a new slice and get a green node!

I think that means this is working now.  I need to figure out what the best thing to do with all of the config files is going to be.  I don't think checking them into git will be the right thing -- we may just want to have the confi

[2016-11-15 21:36] ibaldin commented on #83
Keeping config separate is preferred. The rpms I thin set up a basic structure, but leave you to admin to populate. The source tree has done examples of config files but they are near the places that use them, not where they are usually deployed.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: hinchliff <notifications@github.com>
Date: 11/15/16 1:57 PM (GMT-07:00)

[2016-11-17 16:31] hinchliff commented on #83
I added maven building in commit 2044148277f9c6010f04aab45d3f287c82fb7023.

It's currently dependent upon you having built the RPMs manually.  (And I haven't modified the parent pom, or pushed to master yet.) Could probably fix the manual RPM build with an maven ant-run to build the RPMs?  Or perhaps I should look into the rpm-maven-plugin next.

[2016-11-21 22:09] hinchliff opened #85 "How should we do Releases?"
You may have noticed that I cut a release of Orca today.  Ilya and I talked briefly about doing it this morning -- it seems like the code base has been pretty stable recently.  Really, it probably would have been nice to tag the release before you all went to SC16, but better late than never?

I wanted to be able to keep track of specific versions as we move forward, as we start to try to do other

[2016-11-22 12:54] hinchliff commented on #85
On version numbers themselves, [Semantic Versioning](http://semver.org/) is probably the ideal to aim for.

[2016-11-22 17:05] ibaldin commented on #85
I think I’m on board with all of this. One question is - is there a ‘flag day’ or do we do this gradually per project? Some dependencies may get in the way.

-ilya

[2016-11-22 17:32] hinchliff commented on #85
In general, I think we should be doing this gradually / frequently per project.    If say, I update node-agent2:agentlib to a new version, it doesn't directly affect Orca, until I update Orca to pull the newest version of agentlib.

Semantic Versioning is supposed to give you a sort of 'contract' between projects and dependent libraries.  Each library/project should update the version number appro

[2016-11-22 18:48] hinchliff commented on #83
Currently, the docker images still need a minor change to the orca-iaas.spec file, because I am only installing the JRE on the images, and not the full JDK (even when using Oracle Java).

[2016-11-28 18:27] #83 closed

[2016-11-29 15:22] ibaldin opened #86 "Add manifest support for slice stitching"
Need to add support for generating manifest NDL statements reflecting slices stitched to a given slice. Needs ontology support and some limited amount of code.

@YufengXin @hinchliff

[2016-12-02 19:20] ibaldin commented on #60
Should fix this in mishmash first, then re-test DD performance.

[2016-12-08 16:39] ibaldin commented on #36
Note that while the ticket states initially the problems with MODIFY operation, the bug manifests itself even with simple slice creation. I suggest looking at it first, before testing modify scenarios.

[2016-12-09 18:04] hinchliff opened #87 "Probable bugs: String comparison using '==', instead of 'equals()'"
20 Warnings total, spread across these files:

The ones where the comparison is "" would probably work best as a call to isEmpty()

[2016-12-09 18:08] ibaldin commented on #87
Feel free to fix, but they are probably not genuine bugs.

-ilya

[2016-12-09 20:10] #87 closed

[2016-12-13 20:56] hinchliff commented on #36
I don't think I know the best way to fix this yet, but I think the problem is rooted in [CloudHandler:runEmbedding()](https://github.com/RENCI-NRIG/orca5/blob/master/embed/src/main/java/orca/embed/cloudembed/controller/CloudHandler.java#L155), and the fact that this function only looks at `request.getTypeTotalUnits()`.  If it looked instead/additionally at `request.getElements()`, it would have ac

[2016-12-14 15:09] ibaldin commented on #36
?Can you discuss with Yufeng?

[2016-12-14 20:06] hinchliff commented on #36
Looking at this problem a little bit deeper, here are a few of the different layers of code where this issue could be addressed:

1. CloudHandler could look at both `request.getTypeTotalUnits` and `request.getElements` in order to calculate whether there were enough resources available.  Similar changes or refactoring of common code would probably also have to be made in [UnboundRequestHandler](ht

[2016-12-19 15:18] hinchliff commented on #36
[SimpleVMControl](https://github.com/RENCI-NRIG/orca5/blob/master/core/policy/src/main/java/orca/policy/core/SimpleVMControl.java#L155) is another likely place to look.  The ticket has Properties for the number of CPU Cores / amount of RAM, but the call to [getVMs()](https://github.com/RENCI-NRIG/orca5/blob/master/core/policy/src/main/java/orca/policy/core/SimpleVMControl.java#L182) is not provide

[2016-12-19 15:37] hinchliff commented on #36
This is the exception I got
[code]

[2016-12-19 20:02] hinchliff opened #88 "Resource Exhaustion Behavior"
This ticket is being split off from #36.  The old ticket should be used to track intra-domain bandwidth exhaustion behavior, while this ticket should be used specifically for the behavior noticed by Anirban and Paul, where [accounting of XL VMs is in error](https://github.com/RENCI-NRIG/orca5/issues/36#issuecomment-256460555).

[2016-12-19 20:05] hinchliff commented on #88
Apparently this [error I get from the Broker](https://github.com/RENCI-NRIG/orca5/issues/36#issuecomment-267995150) is the correct behavior.  The broker seems to be doing the right thing, if I start a new slice and ask for enough XOXLarge VMs to be too large for the available resources.

@anriban @paul-ruth -- could you tell me more about what I need to do to reproduce this problem?

[2016-12-19 20:14] hinchliff commented on #36
Anything not specifically about intra-domain bandwidth resources has been moved to a new ticket: #88

My understanding is that for the issue of intra-domain bandwidth resource behavior, the Broker is behaving correctly in issuing tickets in the circumstances described at the top of this issue.  The Broker is not provided with any information about the internal networking, and so cannot deny any re

[2016-12-21 16:20] ibaldin opened #89 "Make configurable the number of threads run by Jetty to allow servicing multiple concurrent user and JMX requests"
Issue: need to increase the number of threads to make sure JMX and user requests are serviced in a timely fashion. (per @vjorlikowski )

Solution:

Controller: has a default of 10 threads and a property called xmlrpc.controller.threads that can override this default. Requires a stateful restart to take effect.

Actor container: the number of threads is hardcoded to 2 (orca.server.OrcaServer). Need

[2016-12-21 18:46] hinchliff commented on #89
Starting looking at this.   It looks like the Controller has a setting for the number of threads for SSL connections at [line 142](https://github.com/RENCI-NRIG/orca5/blob/master/controllers/xmlrpc/src/main/java/orca/controllers/xmlrpc/XmlRpcController.java#L142), but it actually has the same `setAcceptors(2)` for the non-SSL connection just a little earlier at [line 131](https://github.com/RENCI-

[2016-12-21 19:44] ibaldin commented on #89
On controller yes, we use SSL only. Controller rejects connections not coming from SSL-enabled clients.

We should remove non-SSL connections on the controller altogether.

On ORCA containers SSL is not used.

[2016-12-22 08:54] anriban commented on #88
There is one side effect I observed - Suppose I am using all the cores on a particular rack in a single slice using all XL vms. If I query for available resources using flukes, it shows some cores as available even if I know that I am using all cores available through the rack SM. I launched the slice with the rack controller.

Given this observed behavior, the problem might be replicated by launc

[2016-12-22 15:07] hinchliff commented on #88
Thanks @anriban.

In my docker emulation environment, I started creating some slices in a domain that listed 36 VMs available.

First I created a slice with 9 XL VMs.  After this, Flukes still thinks 27 VMs are available in the domain.

Next I tried to create a slice with 1 M VM.  This was not successful, with Flukes showing the following:

Failed
Reservation e2d35f61-790f-4e65-86b6-3b1f4d49e862 (

[2016-12-22 16:14] ibaldin commented on #88
@hinchliff Alan, please clarify which slice was partially created?

[2016-12-22 16:48] hinchliff commented on #88
The slice with 1 VM was partially created -- the network is active, and the node/VM is failed.   The slice with 9 XL VMs (and 1 vlan) was created completely/successfully.

[2017-01-04 18:05] hinchliff commented on #88
One thing that hadn't completely clicked in my head until this week was that the node/vm and the net/vlan are two separate reservations.  Only the node/vm is failing from resource exhaustion, and the net/vlan is still being ticketed and redeemed.

Where / Is there a check for whether all of the reservations/tickets have been successful for a given slice?  Would this be the best way to check for th

[2017-01-04 19:51] ibaldin commented on #88
I don’t know that this check exists today and based on our earlier discussions, it seems like it is necessary. @YufengXin should probably voice his opinion on this. I’m guessing it can be either on SM policy side or in the controller.

[2017-01-05 15:29] YufengXin commented on #88
The discussion on wether failing the whole slice due to a few failed slivers or not surfaced a couple of times in the past. There were concerns for large slices if doing so. Maybe now it is a good time to revisit this policy given ExoGENI is much more stable than before. Implementing such a policy in controller  should be easy, could be part of the manifest generation. It could be an optional poli

[2017-01-06 14:52] ibaldin commented on #88
It would be good to sit down and discuss. I’ll schedule a meeting.
-ilya

[2017-01-09 16:08] ibaldin opened #92 "ORCA doesn't delete VM if floating address is not available"
VM remains ACTIVE in OpenStack, FAILED in ORCA. Using ORCA tools no longer possible to delete the VM in this case. Better garbage collection needs to happen.

This mostly happens on racks where not enough IP addresses are available.

For more details see RENCI-NRIG/exogeni#117

@vjorlikowski @paul-ruth

[2017-01-09 16:19] ibaldin commented on #89
@hinchliff Alan, is this done and ready to deploy? are you waiting for review?

[2017-01-10 13:11] hinchliff commented on #89
@ibaldin this is done.  Committed to master.  The property is `container.threads`.

[2017-01-11 17:29] #89 closed

[2017-01-11 17:50] hinchliff commented on #89
Release [5.0.3](https://github.com/RENCI-NRIG/orca5/releases/tag/orca-5.0.3) contains this fix.

[2017-01-11 18:33] hinchliff commented on #88
The decisions from the meeting, we should:

1. Change default controller policy to behave same for exceeding unit counts and constraints.
1. Change return object behavior for [createSlice()](https://github.com/RENCI-NRIG/orca5/blob/master/controllers/xmlrpc/src/main/java/orca/controllers/xmlrpc/OrcaXmlrpcHandler.java#L239) and [modifySlice()](https://github.com/RENCI-NRIG/orca5/blob/master/control

[2017-01-12 15:38] hinchliff commented on #88
Taking a quick look at the three bullets points that needed to be double checked:

- Behavior in modifySlice() is essentially identical -- same behavior and same error messages.
- The `BrokerSimplerUnitsPolicy` function [ticket()](https://github.com/RENCI-NRIG/orca5/blob/master/core/policy/src/main/java/orca/policy/core/BrokerSimplerUnitsPolicy.java#L253) has the very simple comparison for Units (

[2017-01-12 15:40] ibaldin commented on #88
I may be missing something, but it seems the solution may need to be on controller side, hiding the fact that answers from the broker are different in the case of violating a ticket count vs violating a constraint.

[2017-01-12 15:48] hinchliff commented on #88
No, I don't think you're missing anything.  The controller (createSlice() and modifySlice()) will need to be modified to support this ticket.

The additional bullets were really just double-checking some assumptions, and investigating the desire to include additional information that is not currently available.

The numbered list will be covered in the proposal...

[2017-01-12 20:43] hinchliff commented on #88
@ibaldin @paul-ruth @YufengXin

Proposal:

1) The Controller currently aborts the `createSlice()` or `modifySlice()` if the Unit counts are exceeded, cancelling the `create` or `modify`.  The Controller policy will be changed for Constraint violations to behave in the same manner, aborting the `create` or `modify` if the Constraints are violated for any constituent reservations.
   - Unit failure

[2017-01-17 20:01] hinchliff commented on #88
I now have a decent start to some unit tests in the branch [controller_resources_88](https://github.com/RENCI-NRIG/orca5/compare/controller_resources_88).

Any comments on the proposal?

[2017-01-17 20:04] ibaldin commented on #88
@hinchliff Sorry, I did look at it, forgot to say something. I think it looks reasonable. When you say 'tests for createSlice()' do you mean tests that address this particular behavior?

[2017-01-17 20:14] hinchliff commented on #88
Not yet.  So far I have only added tests that should pass.  Getting that to work communicating with a "live" SM and AM+Broker (in emulation in Docker) was not that difficult.  Getting it work in a more appropriate unit test manner that did not need to communicate to running servers was more difficult.  These are the two tests that I have currently checked in (and I plan to remove, or at least disa

[2017-01-17 20:27] paul-ruth commented on #88
The proposal from a few messages back seems good (at least from the perspective of the user).  I can't really speak to the lower level details of the proposal.

[2017-01-23 16:03] hinchliff commented on #88
Well, we have a problem.  During the createSlice() method, all of the reservations are in the `Invalid` state, meaning that they haven't become either Ticketed or Failed yet.

[2017-01-23 16:19] ibaldin opened #93 "Cleaning up stale quantum issues"
Please see RENCI-NRIG/exogeni#97 for details.

[2017-01-23 16:49] ibaldin opened #94 "Enable defining an OF controller per VLAN in ORCA slices"
Currently it's controller per slice.

[2017-01-23 17:31] hinchliff opened #95 "Create private repo for GLEEN library modifications"

[2017-01-23 17:45] ibaldin commented on #88
Does it mean you are not seeing responses from the Broker?

[2017-01-23 17:50] hinchliff commented on #88
Correct, it looks like the Controller returns from the createSlice() method, without waiting for a response from the Broker.

[2017-01-23 19:26] ibaldin commented on #88
So the embedding logic asks if resources are available on broker, gets a response, issues tickets based on topology emedding and returns from the call? Is that right?

If so we may need to look at SM policy, which deals with returned tickets from the broker.

[2017-01-23 21:04] hinchliff opened #96 "Produce release RPMs in Jenkins"
Sorry for all of the build spam today...

So far I've modified the [GitHub ORCA Master RPM Build Trigger](https://ci.exogeni.net:8443/job/GitHub%20ORCA%20Master%20RPM%20Build%20Trigger/) job to correctly detect Release tags.

I think I was correct that I needed to setup two new Jenkins jobs for the Release builds, as I needed to modify the git refspec and branch parameters.  These are now spawned

[2017-01-24 15:06] hinchliff commented on #88
I think that is correct.  I will start looking at SM policy -- like `ServiceManagerSimplePolicy` ?

[2017-01-24 15:10] ibaldin commented on #88
Config.xml should tell you which policy is configured for the SM, I think.

[2017-01-24 15:38] hinchliff commented on #88
It looks like the [processDemand()](https://github.com/RENCI-NRIG/orca5/blob/master/core/policy/src/main/java/orca/policy/core/ServiceManagerSimplePolicy.java#L194) function in `ServiceManagerSimplePolicy` is given a `ReservationSet` of reservations, and these reservations have Slice info, which contains references to all of the reservations in the slice.

So it looks like we could check all of a

[2017-01-24 15:49] ibaldin commented on #88
Yes, I think that’s the way to go. And yes on the caveat you added.

[2017-01-24 16:41] hinchliff commented on #88
Nope, this won't work either.  All of the reservations are in the `Nascent` state at this point.

[2017-01-24 17:04] ibaldin commented on #88
We need to consult with Jeff about this behavior. The redeem mechanism seems to be on auto-pilot, but there should be a policy governing this.

-ilya

[2017-01-24 17:45] hinchliff commented on #88
The [redeem()](https://github.com/RENCI-NRIG/orca5/blob/master/core/shirako/src/main/java/orca/shirako/kernel/KernelWrapper.java#L838) function of `KernelWrapper` (or [ServiceManager.processRedeeming()](https://github.com/RENCI-NRIG/orca5/blob/master/core/shirako/src/main/java/orca/shirako/core/ServiceManager.java#L343)) are places we can start to see this, although the SM seems to start redeeming

[2017-01-24 20:57] ibaldin commented on #88
The user will have to be updated asynchronously, but I think cloning the calendar policy class and creating a new implementation that does what we want on redeem is par for the course.

[2017-01-24 22:13] hinchliff commented on #88
I had most of the above commit done before you suggested moving it to a new calendar policy class, but it's still just in the [controller_resources_88](https://github.com/RENCI-NRIG/orca5/compare/controller_resources_88) branch, so it will be easy enough to move if you want to.

I was keeping it in the existing policy file, since we had been talking about changing the default behavior.  But either

[2017-01-25 04:38] ibaldin commented on #88
I think its best to create a new class and subclass its behavior from the calendar policy. We should then be able to reconfigure the containers to use a different SM control.

About the user notification - we need to figure out how the controller can hold on to some notion of the slice so it can answer a status query. Not answering or saying the slice is lost isn’t really a good option. We may nee

[2017-01-25 14:48] ibaldin commented on #85
Should we close this, as it seems we've moved into using Semantic Versioning?

[2017-01-25 15:01] ibaldin commented on #88
There's an additional wrinkle on this issue as I'm realizing now. In the controller createSlice() there is a way to delay submitting reservations to SM for the broker that was added to deal with issues related to VLAN tag management in multi-point connections and also OSCARS reliability. Basically it delays any slice from going forward that includes Internet2/ESnet reservations if there is another

[2017-01-25 15:16] hinchliff commented on #85
Yes, probably.  Closing now.

[2017-01-25 15:16] #85 closed

[2017-01-26 17:18] hinchliff commented on #88
Updates from this morning's meeting:

1. Don't need to do anything with SliceDeferThread, for this ticket.
1. User will be required to ask for Slice status.  Controller should provide user with information to query on.  The [proposal above](https://github.com/RENCI-NRIG/orca5/issues/88#issuecomment-272277819) with information on TicketRequestEntities should be sufficient. This was already added to

[2017-01-26 21:07] hinchliff commented on #88
Does [this method of getting the Site from a Reservation](https://github.com/RENCI-NRIG/orca5/blob/controller_resources_88/core/policy/src/main/java/orca/policy/core/ServiceManagerTicketReviewPolicy.java#L159) look like it will work across all sites?

Using Authority Name would have been better than ResourceType, but unfortunately Failed reservations don't contain an Authority Name.  (Unless we de

[2017-02-01 13:46] hinchliff opened #100 "NPE in NdlGenerator"
I'm trying to test Orca, using Ahab.  I'm sure I'm doing something incorrect, but Orca probably shouldn't be throwing a NullPointerException here:

	at orca.ndl.NdlGenerator.addProperty([NdlGenerator.java:340](https://github.com/RENCI-NRIG/orca5/blob/orca-5.0.2/ndl/src/main/java/orca/ndl/NdlGenerator.java#L340))
	at orca.ndl.NdlGenerator.addInterfaceToIndividual(NdlGenerator.java:732)
	at org.renc

[2017-02-01 14:27] hinchliff commented on #48
I tested this in emulation, and it looks like this is fixed.

    <rdf:type rdf:resource="http://geni-orca.renci.org/owl/ip4.owl#IPAddress"/>
    <j.6:label_ID>172.16.0.2/30</j.6:label_ID>
    <j.8:netmask>255.255.255.252</j.8:netmask>
  </rdf:Description>

Note: If you don't `Configure Slice` → `Auto IP` in Flukes, the manifest does not contain IP or netmask information.

[2017-02-01 14:32] hinchliff commented on #20
I tested this in emulation, and it looks like this is fixed:

I'm not sure why each IP address seems to be in the RDF twice. (Once with CIDR, and once without.)

    <rdf:type rdf:resource="http://geni-orca.renci.org/owl/ip4.owl#IPAddress"/>
    <j.6:label_ID>172.16.0.2/30</j.6:label_ID>
    <j.8:netmask>255.255.255.252</j.8:netmask>
  </rdf:Description>

    <rdf:type rdf:resource="http://geni-or

[2017-02-01 14:32] #20 closed

[2017-02-01 14:46] hinchliff commented on #48
Actually, this one may _not_ be fixed, because a different portion of the manifest does not include the netmask, only the IP:

    <rdf:type rdf:resource="http://geni-orca.renci.org/owl/topology.owl#Interface"/>
    <j.6:label_ID>172.16.0.2/30</j.6:label_ID>
    <j.8:localIPAddress rdf:resource="http://geni-orca.renci.org/owl/9a49a872-d38e-40d3-8bb3-898d923be261#Link0-Node0/0"/>
    <owl:sameAs rd

[2017-02-01 14:52] ibaldin commented on #100
Based on the discussion - there likely are two things that need to be fixed - one - NdlGenerator should be hardened to check input parameters, and two Ahab needs to be hardened not to allow this to happen.

[2017-02-02 17:07] #100 closed

[2017-02-08 19:06] #88 closed

[2017-02-10 18:21] hinchliff commented on #48
I have a working fix for this committed in the branch [48_netmask](https://github.com/RENCI-NRIG/orca5/compare/48_netmask?expand=1), and there are some unit tests that I think correctly test this behavior.

The code changes I have made up to this point could use some refactoring --  I would like to reduce some duplicated code.

I have one specific question about the way properties are copied in on

[2017-02-10 18:49] hinchliff opened #103 "ServiceManagerTicketReviewPolicy does not handle multi-point request failures properly"
Earlier, I was able to submit a Multi-Point request to my emulation environment, and received the following reservations states:

The TicketReview should have Closed all of the reservations after the one had failed.  It's not clear why it only Closed some of them.  Perhaps some of the reservations had not been added to the Slice when the TicketReview closed what was existing, and then more reserva

[2017-02-13 19:46] ibaldin opened #104 "Slice Extend errors"
I would like to document ongoing issues with slice extend to verify if those are in fact buggy behaviors or just misunderstanding by the users. Please add to this issue incidents you encounter with as much detail regarding preceding steps by the user as possible.

@mcevik0 @vjorlikowski

[2017-02-13 19:55] anriban commented on #104
I encountered it a couple of times in the last week. This is the error I get:

java.lang.Exception: Unable to renew slice: ERROR: renewSlice(): Exception encountered: Slice terms are limited to 336 hours
	at orca.flukes.xmlrpc.OrcaSMXMLRPCProxy.renewSlice(OrcaSMXMLRPCProxy.java:187)
…….

Note that this slice was already extended a few times before this successfully. Then it started throwing this e

[2017-02-13 21:18] mcevik0 commented on #104
User (Chuan Li) reported problem on Feb 12th as below:
![screen shot 2017-02-13 at 16 05 16](https://cloud.githubusercontent.com/assets/18286650/22903348/4e748f72-f206-11e6-85d6-8d1f0f3c631a.png)

All reservations were active and already extended until Feb 26th.
[code]
User described actions as below:

Actually, this behavior that the user defined looks correct. I tested as below:
1. Create a slic

[2017-02-15 20:27] hinchliff commented on #103
The above error was the result of the [mp.rdf](https://github.com/RENCI-NRIG/orca5/blob/master/embed/src/test/resources/orca/embed/mp.rdf) request that I added to test resources.  It used three nodes at three different sites, with "Auto IP" configured.   I haven't been able to get my emulation environment to reproduce that failure mode, which is strange and probably concerning.

I did get a differ

[2017-02-15 20:32] YufengXin commented on #103
I think the reason is that FIU site is down, not even delegated?

-Yufeng

[2017-02-15 20:48] YufengXin commented on #103
<end>2031-01-30T00:00:00</end>
                                        <handler path="oscars/handler.xml">
                                                <properties>
                                                        <property name="ion.credentials" value="/etc/orca/am+broker-12080/config/ion.cred.properties" />
                                                <property name="oscars.site.pro

[2017-02-15 20:48] #48 closed

[2017-02-15 20:55] hinchliff commented on #103
Yufeng pointed out that the error "There is no multicast capable domain!" was probably because my emulation environment had not completely initialized all of the domains.  Waiting for a longer period after emulation startup has allowed me to replicate the [original](https://github.com/RENCI-NRIG/orca5/issues/103#issue-206875941) failure (which suggests a defect in TicketReview).

It very much seem

[2017-02-15 20:57] ibaldin commented on #103
Does this mean we may need to introduce a barrier in the controller to send all reservations at once? I believe it is correct to say that the reservations are being sent to SM (and broker) by the controller on the ongoing basis - there is no single ‘flag’ moment when all of them are sent in bulk, but perhaps that is what is required here?

[2017-02-15 21:05] hinchliff commented on #103
Something like that is probably the most likely.

[2017-02-15 21:18] ibaldin commented on #103
This will affect the performance and may make the communications channel between the actors (controller, SM, broker) a bottleneck. That said, I don’t know if we have any alternative ideas at this time.

-ilya

[2017-02-15 23:05] anriban opened #106 "request failure when using multiple domains"
Attached is a multi-point request, which is failing. The request was created and submitted using Flukes.
![request-flukes-mp1](https://cloud.githubusercontent.com/assets/10466462/22998885/e0319f76-f3a6-11e6-8ff1-b27cf061b947.jpeg)

The request rdf file is at http://geni-images.renci.org/images/anirban/tmp/flukes-req-mp.rdf

Of the three VMs, two were assigned to OSF rack and the third was assigned

[2017-02-15 23:13] ibaldin commented on #106
Are we confident it’s a bug and not a transient configuration issue?

[2017-02-15 23:18] anriban commented on #106
I suspect it is a bug. I tried 5 times today, with requests generated both with Flukes and AHAB, on two racks, and have been able to consistently observe the same behavior.

[2017-02-15 23:35] mcevik0 commented on #106
This request succeeded on RCI and BBN racks.
I will check PSC - OSF rack case.

[2017-02-16 00:21] anriban commented on #106
I tried it with UMass - SL, and still see the same issue with the VM at UMass failing similarly. I still think it has got to do with wrong instance type being passed to the handler for the failing VM. If the VM image can't be launched with m1.large (the wrong type being passed), it is failing. I believe that the VM image used in the RCI-BBN test was a different one and worked with the m1.large ins

[2017-02-16 19:19] hinchliff commented on #103
Actually, it looks like this ([at least the first case](https://github.com/RENCI-NRIG/orca5/issues/103#issue-206875941)) is not (necessarily) an error on the part of ServiceManagerTicketReviewPolicy.  The Ion reservation that fails only fails _after_ being Ticketed.

TicketReview does correctly hold all of the tickets until they are all active.  But when the Ion reservation later fails, it starts

[2017-02-16 19:54] hinchliff commented on #103
When do reservations normally transition from Failed to Closed?

Right now there doesn't seem to be any way for me to tell, in TicketReview, what a reservations previous state was -- e.g. did it fail in between Nascent → Ticketed, or did it fail after Ticketed.  This by itself is maybe not too bad.

But if a reservation can stay in the Failed state, then I think the next time TicketReview is calle

[2017-02-16 19:55] ibaldin commented on #103
Either the user closes the slice reservations explicitly or they close when the calendar tells them the term has expired. I think that's correct.

[2017-02-16 19:57] hinchliff commented on #103
I guess requiring a user to close the reservation is not too terrible... ?

[2017-02-16 20:00] ibaldin commented on #103
It all depends on how efficient we want to be. If there is a failure on the AM, broker doesn't know about it and the resource is counted as 'taken'. We discussed in the past whether we should automatically close those on the broker and decided against it (instead expecting the user to do it explicitly or just waiting it out)

[2017-02-16 21:01] hinchliff commented on #103
The [second main case](https://github.com/RENCI-NRIG/orca5/issues/103#issuecomment-280128759) is just a configuration issue in my emulation environment.  I get the following message from the AM on startup:

This leaves the DomainResources `drs` null, causing the later exception in [AuthorityCalendarPolicy.assign()](https://github.com/RENCI-NRIG/orca5/blob/master/core/policy/src/main/java/orca/poli

[2017-02-16 21:01] #103 closed

[2017-02-16 21:02] ibaldin commented on #103
Its a mismatch between rdf and config.xml

[2017-02-20 16:03] hinchliff commented on #104
The function [OrcaXmlrpcHandler.renewSlice()](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.1/controllers/xmlrpc/src/main/java/orca/controllers/xmlrpc/OrcaXmlrpcHandler.java#L1874) actually does this almost completely correctly.  It check the renewal end term, and only proceeds if it is valid.  It will automatically change any renewal durations that are greater than the max (two weeks) to be e

[2017-02-20 17:05] ibaldin commented on #104
I seem to recall this function (on ReservationConverter) was used in different contexts, so the thing to do is to check where else it is called. Either (a) we need to make this function behave consistently in all contexts or (b) split off a version of the function without checks to be used only when called by renewSlice().

[2017-02-20 18:01] hinchliff commented on #104
Yes, setLeaseTerm() is currently being called from 3 different places; essentially Create, Recovery, and Renew.

I have not looked extensively into the Create and Recovery use-cases, but the current behavior seems reasonable for both of those.  And it seems reasonable to change the Renew behavior to match the Recovery behavior (where the only difference is that it does not check whether the change

[2017-02-20 18:18] ibaldin commented on #104
I'm assuming you are referring to the potential difference in the values returned by now() in different calls. In principle, yes, although it seems it may be possible in an extremely rare cases to trigger a problem. Perhaps setLeaseTerm() should not do checking at all. The issue is, 2 week limit is a *controller policy* decision and this part of the code is deeper down and, perhaps, shouldn't be c

[2017-02-23 16:07] #104 closed

[2017-02-28 16:09] hinchliff commented on #96
This is now fixed.

I have disabled the old RPM jobs on Jenkins, since they are out of sync with the current build process. They could be re-enabled, by modifying the configuration to be similar to the new "Release" RPM build jobs on Jenkins, but I don't really think it makes sense to do this.

Going forward we should probably only deploy RPMs that match some tagged version in Git.  Jenkins automa

[2017-02-28 16:09] #96 closed

[2017-03-01 20:41] hinchliff opened #110 "Manifest IP Address in CIDR notation breaks Jacks"
In a resulting Manifest, we need to be careful about using CIDR notation.
* In the interface, the label_ID is allowed to be in CIDR notation
* In an IPAddress, the label_ID must not be in CIDR notation
* The property passed to provisioning must be in CIDR notation

[2017-03-02 13:58] hinchliff commented on #110
In order to change the manifest, but not the property, I think I need to change [line 808 in CloudHandler.java](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.2/embed/src/main/java/orca/embed/cloudembed/controller/CloudHandler.java#L808).

It may be a little strange that this section of the code really hasn't changed in 2 years.   Am I looking at the right place?

[2017-03-02 16:46] ibaldin commented on #110
So that line hasn't changed, but whoever formed the contents of the property may have changed how it is done and that accounts for the change in behavior

[2017-03-02 19:52] hinchliff commented on #110
It looks like I actually changed the address/label_ID displayed in the Interface, and not the IPAddress (so backwards from what we wanted).
[110_manifest.txt](https://github.com/RENCI-NRIG/orca5/files/814934/110_manifest.txt)

[2017-03-02 20:43] hinchliff commented on #110
This version looks right, I think: [110_manifest.txt](https://github.com/RENCI-NRIG/orca5/files/815049/110_manifest.txt)

[2017-03-03 16:41] hinchliff commented on #110
Fixed in #111

[2017-03-03 16:41] #110 closed

[2017-03-03 20:06] hinchliff commented on #110
Testing results on UAF rack: good.

## Create dumbbell with /30
Manifest looks good:
[code]
[code]
Logged into node and confirmed eth1 config:
[code]

## Modify above dumbbell to include third node
Manifest looks good:
[code]
[code]
Logged into node and confirmed eth1 config:
[code]

## Create dumbbell with /24
Manifest looks good:
[code]
[code]
Logged into node and confirmed eth1 config:
[code]

[2017-03-03 21:44] anriban opened #112 "velocity template expansion for modify requests doesn't work"
Velocity templates in postboot scripts don't get expanded for modify requests. This prevents services being started on newly added nodes in the slice, which depend on postboot scripts that rely on template expansion. This is an important feature.

Here is a simple example original request :

http://geni-images.renci.org/images/anirban/tmp/modifyTestRequest.rdf

Once the slice is up and you want to

[2017-03-06 20:40] mcevik0 commented on #110
ExoSM is updated / stateful restarted. Results below seem to be similar to Alan's previous tests.

## Create dumbbell with /30
[code]
[code]
Logged into node and confirmed eth1 config:
[code]

## Modify above dumbbell to include third node
[code]
[code]
Logged into node and confirmed eth1 config:
[code]

## Create dumbbell with /24
[code]
[code]
Logged into node and confirmed eth1 config:
[code]

[2017-03-09 19:42] hinchliff opened #113 "User specified VLAN tag causing VLAN to fail"
There seems to be an error running regression test [TS2-8](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.3/embed/src/test/resources/orca/embed/TS2/TS2-8.rdf).

This is the test description from the README:

In unit tests and in emulation, the VLAN seems to just get lost -- the response from the createSlice() from the Controller only provides leases for the VMs, and doesn't mention the VLAN:
[c

[2017-03-09 19:49] ibaldin commented on #113
@YufengXin should answer, but I think the behavior is mostly correct, i.e. a VLAN where you specfy a tag is assumed to be 'shared' and non-allocatable. I don't know where the error comes from.

[2017-03-09 21:25] hinchliff commented on #113
Everything here is actually working correctly.

1. The shared VLAN should not be given a reservation, so the emulation and unit test behavior was correct.
1. The request RDF does not actually specify the site, but the shared VLAN tag is dependent on the site.  When the request is given to the ExoSM with the correct site specified, the ExoSM also displays the correct behavior.

[2017-03-09 21:25] #113 closed

[2017-03-15 19:07] hinchliff opened #114 "Regression tests as Unit tests"
I've been working on getting the regressions tests in [embed](https://github.com/RENCI-NRIG/orca5/blob/master/embed/src/test/resources/orca/embed/README) working as [unit tests](https://github.com/RENCI-NRIG/orca5/blob/master/controllers/xmlrpc/src/test/java/orca/controllers/xmlrpc/OrcaRegressionTest.java), and most of them seem to be [working well](https://github.com/RENCI-NRIG/orca5/tree/regress

[2017-03-19 15:54] ibaldin opened #115 "Support for AMs created out of pools of pre-provisioned VMs using containers"
This is proposed by @clarisca as part of SciDAS - support for creating ORCA AMs that operate on a pool of pre-provisioned VMs of potentially varying sizes. There are several issues that must be considered

1. the different sizes of the VMs (should the topology description take this into account, or should a single AM operate only on a pool of 'like' VM sizes). In fact one can imagine this working

[2017-03-20 20:01] hinchliff commented on #115
Some notes on the Docker aspects, without fully understanding the Handlers or ImageProxy :)

1. In the simplest case, the user will want to run a Docker image that is available in the main Docker Hub registry.  The user would only need to provide the image name (and optionally the image tag), e.g.:
   - [`ubuntu`](https://hub.docker.com/_/ubuntu/)
   - [`ubuntu:17.04`](https://hub.docker.com/_/ubu

[2017-03-20 20:05] ibaldin commented on #115
Sounds like additional things to worry about:

1. Open ports (need to be part of the configuration/request somehow)

2. How should we deal with interactive logins? Should dockers be required to have their own SSH running on a different port, or should we manipulate the login system on the host node to start a docker-enclosed shell instance upon login into host VM ssh for the user?

[2017-03-20 20:06] ibaldin commented on #115
BTW, not a fan of pre-populating dockers with user SSH keys - bad security practice (even if those are public)

[2017-03-20 20:26] clarisca commented on #115
@hinchliff : my preference to pass anything (including credentials)  into the container would be either via a wrapper through the ENTRYPOINT (e.g., import credentials from ephemeral nodes in Zookeeper) or use the -e option. We used the latter in the RADII/HydroShare integration. For a more production environment I favor the former.  I presume that the container would be checkout from the VM throug

[2017-03-21 15:31] hinchliff commented on #115
The containers can (internally) run SSH (or any service) on any port, and Docker will give the host the ability to map those container ports to different host port numbers: [`--publish` or `-p`](https://docs.docker.com/engine/reference/commandline/run/#publish-or-expose-port--p---expose).
e.g.

Managing that might get complicated, so talking with someone who has already done it would be useful.

[2017-03-21 15:38] ibaldin commented on #115
That's why I'm wondering if we'd rather create restricted shells for users that use host's SSHd to log them into bash running inside their container.

[2017-03-21 16:22] clarisca commented on #115
@hinchliff : this approach is to my knowledge is widely adopted and is what we used for our RADII/HydroShare prototype.  I have emailed Mike but he has not responded yet.

Regarding your comment "managing that might get complicated". What is "that"?

[2017-03-21 16:34] hinchliff commented on #115
'That' is managing any port mappings.  Orca will need to track that user requested ports p1, p2... pn for their container, and we gave them corresponding ports q1, q2... qn on the host.  Might get more complicated when you start to allow more than one container on each host.

[2017-03-21 16:42] clarisca commented on #115
We could use the feature that maps a container port to a range of ports in the host, e.g., "docker run -d -p 7000-8000:4000 myApp"
This would  bind port 4000 in the container to a random port between 7000 and 8000 on the host, depending upon the port that is available in the host at that time.  We could then report back the allocated port to ORCA directly or through some side-channel mechanism (Zo

[2017-03-21 16:48] hinchliff commented on #115
Interesting.  I guess you can also just let Docker completely pick the ports:

Makes it a little bit more of a trick to find the port mapping to report back to the user, but less management.

[2017-03-21 17:06] ibaldin commented on #115
[code]

attaches a shell to docker. We may need a dynamic wrapper script to do this, so this can be added to /etc/passwd for a new user entry, but the end result is the same - user upon login using host's SSH (no need to package SSH into docker, only bash) ends up inside the docker environment.

So the handler on join needs to add user (update /etc/passwd file and create home directory) and push u

[2017-03-21 17:14] clarisca commented on #115
@ibaldin : I used docker exec to run commands. For instance, I have used docker exec to run icommands  in a container configured as an iRODS client node. I still think some port configuration needs to be done for a long-running application-container, e.g., iRODS resource node and HTCondor. We will meet with Mike and further discuss our use case.

[2017-03-21 19:17] mcevik0 commented on #114
I checked the request RDF files (TS3-3, TS3-13, TS3-14, TS5-1, TS7-1). They have requests for sites that do not exist (Duke, UNC BEN). I think they need to be reviewed and modified according to the current state of the active racks. Also, images should be checked if they exist or not and maybe replaced with the standard images. Some of the nodes/nodegroups have "System Select" setting. If they're

[2017-03-21 20:11] mjstealey commented on #115
@ibaldin - Agreed that handing off to `docker exec -u <YOUR_USER> -ti <GUID> /bin/bash` is the way to go.

Do note that if you package SSH into a docker container where the host also uses SSH, you'll need to remap the SSH port from the host's point of view to the container. i.e. using port 2022 instead of 22.

You could also allow SSH to be run by a non-root user within the container so if the use

[2017-03-21 21:56] clarisca commented on #115
@mjstealey : I will take some of our time on Friday to ask you more about this. I don't understand how this approach alone addresses the deployment of a long running service such as a HTCondor Worker which maintains a  long-lived connection with a HTCondor Master (an overlay).  I think it is possible that there are different application models, e.g., ssh vs distributed service that have different

[2017-03-22 00:42] mjstealey commented on #115
@hinchliff - using `docker inspect <CONTAINER_ID>` will return a whole bunch of configuration information as JSON.

So, for a process that uses lots of ports like iRODS, you could do something like this to get the `Networking.Ports` information
[code]

[2017-03-22 00:50] mjstealey commented on #115
@clarisca - It doesn't.
Rather it was a comment on being able to attach to a container as a non-root user if such a thing is desired. Unsure if there will be a maintainer concept that would need access to a container within a node once it's instantiated.

By default docker runs as root, and any operations performed within the container would be as root unless explicitly specified otherwise. So the

[2017-03-23 18:21] hinchliff commented on #114
Thank you Mert.

I updated a bunch of the test cases yesterday, most of them should be better now.  TS3-3 and TS3-13 now work correctly.

However, I'm not sure if [TS3-14](https://github.com/RENCI-NRIG/orca5/blob/regression_tests/embed/src/test/resources/orca/embed/TS3/TS3-14.rdf) is working correctly from ExoSM. (The version in 'master' is outdated, so you will need to grab the version from my br

[2017-03-23 21:39] mcevik0 commented on #114
I think available resources to ExoSM have an impact on this.
- The request has "System Select" and "Splittable between domains" options for the nodegroups that have 48 VMs.
- Not all of the racks have 48 VMs available for ExoSM.

First slice: I created a slice with one nodegroup connected to a VM.
Single VM: BBN rack selected.
Node Group: 21 VMs (to be safe if BBN was picked), "System select", "Sp

[2017-03-24 11:49] hinchliff commented on #114
Yes, we probably shouldn't be silently failing here, when ExoSM picks (and fails) when "System Select" is used?  @YufengXin @ibaldin

[2017-03-24 19:42] YufengXin commented on #114
Yes, I agree. It was underimplemented.

-Yufeng.

[2017-03-31 15:24] #114 closed

[2017-03-31 17:48] hinchliff opened #117 "Node Group broadcast domain link bug"
As discovered and discussed by Mert in [exogeni](https://github.com/RENCI-NRIG/exogeni/issues/130), there is a bug in Orca when a Node Group is connected via a broadcast domain to just one other node.  This bug probably started from #70.

Yufeng showed me exactly where to fix this bug, so a pull-request will be coming shortly.

[2017-03-31 18:31] #117 closed

[2017-04-03 21:01] hinchliff commented on #112
Some differences in the logs between an original request and the modify:

from controller ndl.log

request - Node0:
[code]
modify - Node3:
[code]

Those log lines are from [ReservationConverter](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.4/controllers/xmlrpc/src/main/java/orca/controllers/xmlrpc/ReservationConverter.java#L516)

[2017-04-04 17:46] ibaldin commented on #106
Just checking is this related to #41 ?

[2017-04-04 18:45] anriban commented on #106
No, I don't think this is related to #41 . Everything is bound here.

[2017-04-05 14:55] ibaldin commented on #115
Had a meeting with Alan. He will think about the various design aspects, I'll do the flowchart with tasks. We may ask Mert help try the approach manually to make sure things work as expected.

[2017-04-05 16:19] hinchliff commented on #115
I started a wiki page on [the design aspects](https://github.com/RENCI-NRIG/orca5/wiki/Container-Feature-Design)

[2017-04-06 17:03] #112 closed

[2017-04-11 17:57] ibaldin opened #120 "Connecting node to two stitchports (same or different) results in embedding error"
Copied from RENCI-NRIG/exogeni#136:

I submitted the requests below and they both ended up with exceptions:
1. VM connected to two stitchports from the same domain with different VLAN tags
2. VM connected to two stitchports from different domains

[code]

[request-stitchport-URLcham-TAG3291-3292.txt](https://github.com/RENCI-NRIG/exogeni/files/910656/request-stitchport-URLcham-TAG3291-3292.txt)
![

[2017-04-13 13:54] hinchliff commented on #120
It looks to me like some changes to the Models during the reservation are causing the second Stitchport to fail.

Stepping through with the debugger, the first Stitchport seems to work just fine.  When the shortest path computation is started for the second Stitchport, the list of connected devices for the Stitchport is empty. (https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.4/ndl/src/main/java/

[2017-04-13 18:43] ibaldin opened #121 "Switch Domain.java constructors to use ephemeral TDB databases instead of in-memory"
An Exo controller slowdown triggered investigation into memory use. Heap dump showed that active slices were consuming large amounts of RAM (on the order of 100M each) by storing in-memory ad models acquired from the broker. The problem appears in Domain.java constructors that create a model in-memory.

An initial trivial attempt to switch those to TDB Ephemeral resulted in

- Jenkins running out

[2017-04-13 19:25] hinchliff commented on #121
Here is a link to the the test failure in Jenkins: [persistent-domain-model/1/](https://ci.exogeni.net:8443/job/ORCA5/branch/persistent-domain-model/1/)

I tried replicating this by running the maven tests on my local box, using the git commit with TDB Ephemeral: [ac7d9d](https://github.com/RENCI-NRIG/orca5/commit/ac7d9dc65a71890628620c3e41d1aed5e621a155)

I wanted to see if increasing the maximum

[2017-04-13 19:31] hinchliff commented on #121
To check next week:

[2017-04-18 20:01] ibaldin opened #122 "Modify doesn't respect core constraints"
As reported by @mcevik0

#### Cause TicketReview closure on Modify request
- When the slice is modified by "Increase NodeGroup Size" and VMs more than the configured max number of cores are requested, reservations are not closed.

1. Create a request with two NodeGroups (each has 1 XOXlarge VM).
    NodeGroup0 --- BroadcastLink --- NodeGroup1
2. Submit
3. Poll manifest
4. Modify slice by adding mo

[2017-04-20 17:35] hinchliff commented on #106
The controller is printing out this error message, only for the single VM:
[code]

This comes from [ReservationConver](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.4/controllers/xmlrpc/src/main/java/orca/controllers/xmlrpc/ReservationConverter.java#L193)

This behavior shows up in unit tests, so I should be able to find the bug.

[2017-04-20 19:33] hinchliff opened #123 "Nodes closed in TicketReview may still be active in AM"
After TicketReview closes some reservations, e.g.

[code]

And after deleting the Slice, the AM may still think those reservations are active:

[code]

It's possible that this only happens when TicketReview closes some reservations _after_ other parts of the Slice have already become active.   In this case, I was testing a Multipoint slice.  Two of the VLANs had become active, and then on of the V

[2017-04-22 15:37] hinchliff commented on #106
I'm not sure if 5aac125ea0476f7d7cd7bf5a6691cb27ee249f8f is the right way to fix this problem.   I'm not convinced we should be using `existing_ce` at all in this case.

I probably need to make an MP Modify test case, to make sure we don't break those.  Earlier commit 74165cee0a62eff2c480e247d9807d8dc257f3d1 is relevant to this.

[2017-04-24 13:33] hinchliff commented on #106
I'm not sure I know how to make a modify request for a multipoint request.

I started with Anirban's original request.  For the modify, I tried adding a fourth node, to a new domain.  I tried wiring the Node directly to the existing VLAN in the middle.  This resulted in the exception `Path has 3 (odd number) of endpoints`.

Next, I tried adding a new broadcast domain on the modify, and wired up al

[2017-04-24 13:55] YufengXin commented on #106
Hi, Alan,

Modifying inter-rack MP request doesn’t work because the departure drive AM policy doesn’t support it. However, controller used to work. I’ll need to look into it.

-Yufeng

[2017-04-25 14:38] #120 closed

[2017-04-27 13:26] hinchliff opened #126 "Broadcast domain and Stitchport result in NPE"
From @mcevik0

The exception is a NullPointerException:
[code]
That's a logging statement at [InterDomainHandler.java:108](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.4/embed/src/main/java/orca/embed/cloudembed/controller/InterDomainHandler.java#L108).

Unfortunately just moving the `logger` line to after the null checks doesn't fix the problem, as testing that results in the slice being emp

[2017-05-01 08:34] Bun opened #128 "Management interface uses 8139cp, not virtio"
The management interface (eth0) requires the 8139cp kernel module instead of the virtio module that is used by all of the links provisioned in the slice request. I'm not sure if there's a technical reason for this.

This is a minor issue, but would save disk space since if all interfaces were virtio-based I could use a much, much smaller VM-specific kernel package (35MB vs 145MB).

[2017-05-03 15:32] YufengXin commented on #123
Detailed information from my slice: 1 broadcast link connecting 3 VMs, all intra-rack, one VM failed due to wrong image information.
(1) SM: all 3 VMs were closed, but the vlan reservation stays active. The slice is alive
(2) VM AM: all the 2 active VMs keep alive without being closed
(3) Then I closed these 2 VM reservation at the AM from pequod
(4) Then go back to Flukes to close the slice. From

[2017-05-03 17:09] YufengXin commented on #123
Actually, if the failed VM failed in a later stage, the other 2 VMs would not be closed in SM.

[2017-05-03 19:02] #106 closed

[2017-05-03 19:03] hinchliff commented on #126
Fixed in #127

[2017-05-03 19:03] #126 closed

[2017-05-05 19:57] YufengXin opened #129 "Inter-rack MP with stitchingport doesn't show correct manifest"
checking the manifest

[2017-05-09 13:55] mcevik0 commented on #123
While working on RADICS slices created by AHAB and connecting ~10 sites, Paul encountered some problems primarily caused by leaked OSCARS VLANs. I think this is related with this ORCA issue. Based on my observations, I wanted to give some information. This can be better observed in big slices, some parts of the slice become active (eg OSCARS circuits), then a reservation fails and all reservations

[2017-05-11 15:19] ibaldin commented on #123
per Anirban @anriban via Slack
[code]

[2017-05-11 16:08] hinchliff commented on #123
Adding some pictures of what I think is happening, in case we want to look at examples during the meeting.

This picture shows what TicketReview was designed for:
![ticketreview_ok](https://cloud.githubusercontent.com/assets/10090677/25957882/4b2e7fb4-363d-11e7-92a3-e8f96a7dea96.png)

All of the reservations are still in the SM.  When reservation `1` is failed _by the SM_, TicketReview should Clos

[2017-05-11 19:36] hinchliff commented on #129
Fixed in #131.

[2017-05-11 19:36] #129 closed

[2017-05-11 21:21] #123 closed

[2017-05-15 22:31] YufengXin opened #133 "Inter-rack slice with stitching port does not show manifest correctly in Flukes"
1. It shows correctly, if the VM ends are at the same rack as the stitching port is defined.
2. inter-rack P2P (TS2-9) : one VM node at PSC, one stitching port on the bbnNet ----> shows disconnected links on the ION node. (RDF file: ts-2-9)
3. inter-rack MP: one VM at Ciena, one VM at WSU, one sttichngport on the bonnet ---> shows a double link between the stitching port and the bonnet node. (RDF

[2017-05-18 17:52] ibaldin commented on #133
OK, I have to apologize - the Flukes version that supposedly had the NdlPath fix actually did not - I ignored POM version dependencies when rebuilding Flukes. Now that I'm using the actual test version, the ts-2-9 case displays correctly with no changes. So I can deploy this version of Flukes as production and things should work.

For mp-st-2 case above things aren't quite as rosy. It displays the

[2017-05-18 18:05] YufengXin commented on #133
Thanks,

Please deploy it. I can play with it by manually modifying the manifest.

-Yufeng

[2017-05-18 18:09] ibaldin commented on #133
Done (same location)

Try it on the ts-2-9 first. If it works for that, it's the right version.

[2017-05-18 19:13] ibaldin commented on #133
Per discussion with @YufengXin we are going to leave the version of flukes in the 'new' configuration and Yufeng will work to get rid of unnecessary /<vlan tag> interfaces on stitchport and VLAN entities that are confusing the pathfinding logic.

[2017-05-18 19:13] ibaldin commented on #133
Should I update the 'production' version of Flukes to this as well, or not?

[2017-05-19 18:42] hinchliff commented on #122
I can't seem to get the Modify to work for this sort of request.

Is this what the `Increase Node Group Size...` option is supposed to look like?
![increase_group_size](https://cloud.githubusercontent.com/assets/10090677/26261885/eca099cc-3ca0-11e7-854d-3c729968e33e.png)

If I put 20 in that box, and then Submit Changes (and Poll/Query Manifest), my slice doesn't look like it has changed it all.

[2017-05-19 18:43] ibaldin commented on #122
You need to start with a node group

[2017-05-19 18:43] ibaldin commented on #122
Actually I see you did already. Try starting with nodegroups of size > 1

[2017-05-19 18:51] hinchliff commented on #122
I still get the same thing, starting with Node Groups of size 2.  (I think Mert's original was with Node Groups of size 1).

[2017-05-19 18:53] ibaldin commented on #122
It may be broken then

[2017-05-19 19:45] hinchliff commented on #122
Modify might be failing on simple VM additions too.

This might be the exception:

[2017-05-19 20:51] hinchliff commented on #122
OK, a modify request that is a simple VM addition still works.  The above errors seem to be unrelated, and previous modify requests were only failing because of a problem local to UFL.

Will investigate the Increase Node Group Size bug next week.

[2017-05-22 15:44] ibaldin commented on #128
Also related to the exogeni security issue RENCI-NRIG/exogeni#146

[2017-05-22 15:46] ibaldin commented on #133
This has to do with extra /<vlan tag> interfaces that provide an incorrect path from stitchport to node. @YufengXin is looking at possible solutions.

[2017-05-22 15:47] ibaldin commented on #121
Tried UniqueDM and other fixes - results are same - the tests never finish.

[2017-05-22 15:50] ibaldin opened #136 "Upgrade Jena to 3.3.x"
We are using 1.0.2 from 2014 when 3.3.x is available. Should attempt to upgrade, minding the fact that Gleen may present a dependency @vjorlikowski

[2017-05-22 15:51] ibaldin commented on #136
May help solve #121

[2017-05-22 15:59] ibaldin commented on #115
@vjorlikowski suggests looking at https://github.com/jpetazzo/pipework PipeWork to constrain containers to specific network interfaces.

[2017-05-31 20:12] hinchliff commented on #122
The modify is not occurring because IP Address information seems to be missing, causing this NPE:
[code]

[2017-06-01 14:35] hinchliff opened #137 "NodeGroup increase modify requests are failing"
This ticket is being forked from #122.  That ticket should be related to the TicketReview policy.  But in investigating that ticket, it was discovered that a different issue exists with NodeGroup modify requests.

Attempting to do a `Increase Node Group Size...` modify request results in the following exception:
[code]

Comparing to an older version (5.0.3) in emulation, new VM nodes were successf

[2017-06-01 14:36] hinchliff commented on #122
Will return to investigate this ticket, related to TicketReview, after #137 is resolved.

[2017-06-01 16:41] hinchliff commented on #137
@YufengXin: this issue isn't really ready for a Pull Request yet, but could use your review.   I think the above changes will get us back to where we were, when NodeGroups could be increased in size successfully.

Does this meet our expectations? Based on the warnings/exceptions thrown, _should_ this be working?  Is there additional information we expect/should have available at this point?

Or sh

[2017-06-01 16:47] YufengXin commented on #137
Thanks, Alan,

I’ll take a look later today to see what’s missed. The basic idea here was that, because arbitrary VMs in a node group can be added or removed, a IP address pool is maintained by the base IP address and a bitmap of the subnet space.

-Yufeng

[2017-06-01 17:22] hinchliff commented on #137
OK, yes, using the new code, doing a NodeGroup Increase at the same time as a Delete doesn't seem to turn out quite right:
![nodegroup_increase_with_delete](https://cloud.githubusercontent.com/assets/10090677/26691861/b58ab55e-46cc-11e7-8599-ca5b82ebffea.png)

[2017-06-01 19:01] hinchliff commented on #137
Actually, the above flukes diagram, where the added Nodes don't have network interfaces occurs with the simpler "only increase" type of modify.

[2017-06-27 16:47] hinchliff opened #140 "Upgrade to Java 8"
Orca needs to _at least_ be able to run using Java 8, even if still compiled by Java 7.  But  it would be preferable to upgrade the source/compilation to Java 8 as well.

Or maybe even Java 9?

Right now, at least in [Docker emulation](https://github.com/RENCI-NRIG/orca5/tree/docker_java_8), Orca will not run using Java 8.

It seems to compile fine using Java 8.   But either way, compiled as 7 or

[2017-07-10 15:23] ibaldin commented on #93
ping @vjorlikowski

[2017-07-10 15:28] ibaldin commented on #128
Related to Neuca code and ORCA tickets RENCI-NRIG/exogeni#58 and new Ubuntu images.

[2017-07-10 15:34] #36 closed

[2017-07-11 19:20] hinchliff commented on #140
Looks like we'll have to upgrade at least:

* Spring, from 3.1.0, to [3.2.x or 4.x](https://stackoverflow.com/questions/32278878/java-8-spring-compatibility) (5.x is current)
* Jetty, from 7.1.0 to ? (9.x is current). (Jetty uses [ASM, which seems to be known to cause incompatibilities with Java 8](http://product.hubspot.com/blog/upgrading-to-java-8-at-scale))

[2017-07-12 19:39] ibaldin commented on #140
I'd need to check the code but it seems the first one isn't really an error. All it says is the remote actor registry returned a record of an actor known locally. I can't remember if that's usually not supposed to happen, but it certainly isn't a fatal error. The second one is more serious. More context on that error is needed, as in which SSL handshake (of the many places where it happens) fails.

[2017-07-12 19:41] ibaldin commented on #140
Remote actor registry can be disabled in favor of using the local config files. If that gets rid of the errors, it would narrow down the space where to look for problems.

[2017-07-12 20:44] ibaldin commented on #140
So looking at the code

a) A warning about known local actor is harmless. All it says is that the local actor already known to registry and happened to be returned as a result of a query. Local registry cache is populated regardless of whether remote registry is configured. It simply contains only local actors in that case.

b) To disable actor registry make sure registry.url is commented out in c

[2017-07-13 13:54] hinchliff commented on #140
OK, i'm still trying to look into this, but there is something not working with the pools.  They seem to get created, but they are empty?   I had thought this might be because of the Actor Registry warnings, but you're right that it seems like the Actors / pools are there, they are just empty.

There aren't really any errors printed out until Recovery starts (looking at the AM):

[code]

The actor

[2017-07-13 14:02] hinchliff commented on #140
Are the resources supposed to be in these pool properties?

[code]

For some reason, the AM is finding the VLAN and LUN resources, but not the baremetal or VM resources?  (That pattern continues over all of the actor pools)

[2017-07-13 16:45] ibaldin commented on #95
What do we do today to include gleen properly into a build (unrelated to orca)?

[2017-07-13 16:47] ibaldin commented on #140
I believe so - the resources should be there

[2017-07-13 16:48] ibaldin commented on #140
I would suggest not to do recovery. Try starting clean.

[2017-07-13 16:54] ibaldin commented on #95
I was able to resolve my problem by adding some old orca repos into pom file. This really requires  a resolution though. We're one step ahead of being unable to build ORCA and a bunch of other stuff if those repos fail. THey are hosted at RENCI.

[2017-07-13 19:58] hinchliff commented on #140
To be honest I'm not sure why recovery is happening, or what is being recovered.

The `state_recovery.lock` file is not present in the container before Orca is started, and the logs confirm this:
[code]

But still all of the example reservations are recovered.

[2017-07-13 20:03] ibaldin commented on #140
What do you mean by 'example reservations'?

[2017-07-13 20:06] hinchliff commented on #140
Yeah, `example` wasn't a very good word.  Reservations previously shown in comments.  There are a bunch (10?) that get recovered, but I don't know where they come from.

Are they in the substrate files themselves?
[code]

[2017-07-13 20:17] ibaldin commented on #140
THere definitely will be reservations showing what the AMs have (in the pools).

[2017-07-13 20:18] ibaldin commented on #140
I forgot to mention - we should update Jena as well. I don't know to what extent this is held back by Gleen. Perhaps we're on a recent enogh version that it doesn't matter (or rather we can wait to update Jena)

[2017-07-14 14:04] hinchliff commented on #140
The [pool properties behavior exhibited above](https://github.com/RENCI-NRIG/orca5/issues/140#issuecomment-315087135), where only the LUN and VLANs had any pool properties but not the VM or baremetal, must be the expected behavior.

The code in [NdlResourcePoolFactory](https://github.com/RENCI-NRIG/orca5/blob/docker_java_8/boot/src/main/java/orca/boot/inventory/NdlResourcePoolFactory.java#L167) ca

[2017-07-17 15:45] ibaldin commented on #95
Need to also move to new public maven repo, get away from using RENCI private Nexus

[2017-07-17 17:58] vjorlikowski commented on #136
I have a version of GLEEN that has been ported to JENA 3.3.0 (and is also using commons-logging 1.2) ready to test.
We will need to change all imports using "com.hp.hpl" to "org.apache" for JENA imports, for this to work.

[2017-07-24 15:04] ibaldin commented on #95
Conversation between Todd Detweiler and Victor
[code]

[2017-07-24 15:05] ibaldin commented on #95
@vjorlikowski will also add POM files

[2017-07-25 15:14] ibaldin commented on #95
More exchanges
[code]

[2017-07-25 19:50] hinchliff commented on #140
Finally started directly comparing Java 7 logs to Java 8 logs. (With some extra, uncommitted logging statements.)

Java 7:
[code]

Java 8:
[code]

Still need to figure out why running in Java 8 results in no tickets.

[2017-07-25 19:58] hinchliff commented on #140
Actually, no tickets seems to be directly related to the NullPointerException i had pointed out earlier.

Java 7 (note the donateTicket line) :
[code]

Java 8:
[code]

I think it is delegations that is null here.  Will have to track that next.

[2017-07-26 18:53] hinchliff commented on #140
In java 8, the delegations are null at this point in recovery, because the reservation properties read from the "database" do not include delegations.  (Before recovery recovers the delegation field, the delegations are just zero.  But the zeros are replaced with the null from the properties during recovery.)

In java 7, the delegation properties include the correct values.

I'm not sure yet if th

[2017-07-26 18:55] ibaldin commented on #140
I would trace the boot package actions

[2017-07-26 19:47] hinchliff commented on #140
Right, I think these pool reservations are added to the database at this line of [PoolCreator.java](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.6/boot/src/main/java/orca/boot/inventory/PoolCreator.java#L80)

I added some extra debug statements, and it looks like the delegations portion of the reservation is not null nor zero at this point (the `Ticket [units = 132` part):
[code]

[2017-07-27 16:52] hinchliff commented on #140
I confirmed that the mysql database does not have the delegation information (when using Java 8).

I added some extra debugging statements to the [addReservation()](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.6/core/shirako/src/main/java/orca/shirako/plugins/db/ActorDatabase.java#L333) function of ActorDatabase.

The delegations information is missing from the Properties created from `Persis

[2017-07-28 15:33] hinchliff commented on #140
Finally found it.  Needed to update the xtream library used in [SimpleResourceTicketFactory](https://github.com/RENCI-NRIG/orca5/blob/orca-5.1.6/core/shirako/src/main/java/orca/shirako/common/delegation/SimpleResourceTicketFactory.java#L166)

[2017-08-03 20:24] #140 closed

[2017-08-14 13:51] hinchliff opened #144 "OESS handler files are not included in the orca-iaas rpm"
I think the change needs to occur in [server/pom.xml](https://github.com/RENCI-NRIG/orca5/blob/master/server/pom.xml#L175).  Testing this now, but wanted to open an issue about this.

It was theorized that OESS was missing a [package.pom](https://github.com/RENCI-NRIG/orca5/blob/master/handlers/oscars/resources/package.pom) that is present for other handlers.  Adding a package.pom for OESS did not

[2017-08-14 15:06] #144 closed

[2017-08-22 18:43] hinchliff commented on #137
I started a new branch for this issue: [new_137_nodegroup_modify](https://github.com/RENCI-NRIG/orca5/tree/new_137_nodegroup_modify), that uses the new Java 8 code.  (I started a new branch off master, and cherry-picked the commits from the old branch.)

[2017-08-30 16:55] hinchliff commented on #137
@YufengXin this is what Flukes shows (in emulation) after the above fix.  Are these interface connections alright?

The request started with two NodeGroups, each of size one -- connected by a broadcast link, but without IP addresses being assigned.  The modify increased the size of one of the NodeGroups.

![issue_137](https://user-images.githubusercontent.com/10090677/29884669-2811e7cc-8d82-11e7-9

[2017-08-30 18:33] YufengXin commented on #137
I think so. Each node group is supposed to be linked by individual broadcast link.

Thanks.

-Yufeng

[2017-08-30 21:00] hinchliff commented on #137
@YufengXin i added another test for this -- where one nodegroup (_without_ Auto IP) is increased in size, the display in Flukes does not look correct.  Our unit test still passes with this test, so it seems that an interface is correctly being created.   Not sure if this might just be a display issue?

![137_1_1_no](https://user-images.githubusercontent.com/10090677/29894785-a7dc8706-8da4-11e7-8c6

[2017-08-30 21:19] YufengXin commented on #137
It might related to the link which is a Beast link instead of a p2p link. Would you send me the manifest to look at?

-Yufeng

[2017-08-31 11:53] hinchliff commented on #137
@YufengXin here is the manifest: [137_one_nodegroups_of_size_one_noip_modify_manifest.txt](https://github.com/RENCI-NRIG/orca5/files/1266902/137_one_nodegroups_of_size_one_noip_manifest.txt)

[2017-08-31 14:29] hinchliff commented on #137
For most of these examples, Flukes shows a different graph depending on whether the nodes were assigned IP Addresses (Auto IP) or not.

1. The NodeGroup of one Node, increased by one Node.  The non-IP is above, with IP it looks like this:
![137_1_1_ip](https://user-images.githubusercontent.com/10090677/29927764-48c4dd68-8e35-11e7-8684-5b07ea3c0385.png)

1. NodeGroups of two Nodes, increased by one

[2017-09-01 17:39] hinchliff opened #146 "NetworkElement should correctly implement equals()"
I noticed this while working on #137.

The `equals()` for NetworkElement was [previously removed](ttps://github.com/RENCI-NRIG/orca5/commit/e43e81c81ebbed0bfdcd81a5b3e74aac45c8a4ad).

I thought this was going to be an easier fix, but it wasn't too bad.  Nodes can now edited in place, and extra nodes don't need to be deleted at the end of the process.

[2017-09-11 15:33] ibaldin opened #147 "SSH into VM by handler doesn't work as expected on CentOS 6.9"
@mcevik0 discovered on INNO rack that SSH into VM doesn't work as expected. @vjorlikowski hypothesized that this is due to changes made to return codes w/ and w/o TTY. Also related is that floating IPs aren't properly reclaimed on this error.

[2017-09-11 15:40] hinchliff opened #148 "Elastic Slices -- repeated VM add/deletes start to fail"

[2017-09-11 16:26] mcevik0 commented on #147
On existing script (nova_essex_common.py), when Popen is executed with "shell=False" in run method. When it was executed with "shell=True", it returned 255, too.

I installed fabric (fabric-1.6.2-2.el6.noarch) and modified the _ssh_test_vm method as below. Now, return value is 0.

[code]

[2017-09-11 18:45] hinchliff commented on #137
@YufengXin Looking at the manifest for the [one nodegroup of size one increased by one (noip)](https://github.com/RENCI-NRIG/orca5/issues/137#issuecomment-326117893) case, it looks to me like there are some inconsistencies in the manifest.

Line 1254 has this description for the VLAN.  Note there is a `hasInterface` for `NodeGroup0/0` on line 1262, but one is not present for `NodeGroup0/NoIP/c721c

[2017-09-12 14:44] mjstealey commented on #136
Observed JENA error (`com.hp.hpl.jena.tdb.base.file.FileException`) when running `mvn clean install -Ptest` from a CentOS 7 emulation environment (VirutalBox VM). Multiple instances of same error. Example below:

[code]

Adding to issue per suggestion of @hinchliff

[2017-09-12 14:47] hinchliff opened #149 "Update docs for contributing"
With @mjstealey coming on board, this is a good time to make sure our documentation is useful and up-to-date.

[2017-09-12 15:01] ibaldin commented on #136
It's trying to create a file to store the IDM (Inter Domain Model) in TDB format (Jena's internal persistent RDF store) and failing. Not clear why from the error.

Seems there is a discussion of this here https://github.com/stain/jena-docker/issues/1

[2017-09-13 17:29] ibaldin commented on #148
From Bing:
[code]

[2017-09-13 17:30] ibaldin commented on #148
[ahab_elasticity.log.txt](https://github.com/RENCI-NRIG/orca5/files/1300259/ahab_elasticity.log.txt)
[ndl_elasticity.log.txt](https://github.com/RENCI-NRIG/orca5/files/1300261/ndl_elasticity.log.txt)

[2017-09-13 17:31] ibaldin commented on #148
According to Bing things operate correctly with AHAB, so I'm closing this. She does raise an issue of ever-increasing query times that should be looked at.

[2017-09-13 17:31] #148 closed

[2017-09-13 17:33] ibaldin commented on #149
I would argue first we should document user-facing tools/libraries, like AHAB.

[2017-09-13 17:37] hinchliff commented on #149
I wouldn't argue with that, except that so far everything that I have changed was documentation that I already needed to send to Michael.

[2017-09-13 17:47] ibaldin commented on #149
Point taken. I did add a separate bullet RENCI-NRIG/ahab#6 for AHAB docs.

[2017-09-13 20:55] mcevik0 commented on #140
Java 8 update 144 deployed on all racks during RENCI-NRIG/exogeni#164

[2017-09-18 19:26] #137 closed

[2017-10-02 15:08] ibaldin commented on #128
Misfiled as a source code issue - should be an exogeni issue with new option available to change which driver is used for managemnet plane.

[2017-10-02 15:08] #128 closed

[2017-10-16 11:41] #146 closed

[2017-10-17 19:30] hinchliff commented on #122
There seem to be a couple of things going on with this ticket.

There is one relatively easy fix, which is to make sure that the Controller adds the core constraints / requested resources (e.g. Num CPU) to the request.  This allows the SM to verify the actual availability of resources, producing expected results.

A secondary issue is that it seems like the Controller doesn't verify available reso

[2017-10-19 18:00] hinchliff commented on #122
@YufengXin thoughts on whether the Controller should be checking the available resource count for NodeGroup increases?  Or should we just let the SM handle it?  (See [previous comment](https://github.com/RENCI-NRIG/orca5/issues/122#issuecomment-337344191))

[2017-10-30 12:28] hinchliff opened #154 "Extended slices can show incorrect reservation end times"
Related to #104, when a slice extend/renewal is limited to the system maximum (two weeks), the reservation in Flukes can show an incorrect reservation end time.  Flukes will incorrectly show the reservation end time originally requested by the user, even though it is past / longer than the system maximum, because the current Orca API does not provide a clean mechanism to indicate that the reservat

[2017-10-30 15:26] #149 closed

[2017-10-30 18:59] ibaldin commented on #95
Both branches of gleen code have been tested to work (tied to Jena 2.11.0 and 3.3.0). Closing.

[2017-10-30 18:59] #95 closed

[2017-11-06 14:49] #122 closed

[2017-11-06 15:10] #154 closed

[2017-11-20 17:36] hinchliff commented on #133
Some additional examples from Paul:

[simple.stitchport.manifest.txt](https://github.com/RENCI-NRIG/orca5/files/1488535/simple.stitchport.manifest.txt)

![simple stitchport screenshot](https://user-images.githubusercontent.com/10090677/33032444-3f194f02-cdef-11e7-9636-281475b47354.png)

[modify.stitchport.manifest.txt](https://github.com/RENCI-NRIG/orca5/files/1488543/modify.stitchport.manifest.tx

[2017-12-01 14:23] hinchliff commented on #133
I'm not sure if this is relevant to the problem, but in the mp-st-2 manifest, the `wsuNet/Domain/vlan` and the  `cienaNet/Domain/vlan` both have three `hasInterface` statements, while the `bbnNet/Domain/vlan` (connected to the stitchport) only has two `hasInterface` statements.

wsuNet:
[code]

bbnNet:
[code]

The same potential discrepancy is exhibited in the simple.stitchport.manifest.txt file t

[2017-12-05 15:22] hinchliff commented on #133
There are two things that I have been looking at, the `hasInterface` statements on _Net_ domain VLAN statements, like the comment above; and `hasInterface` statements in the Stitchport device topology statements.  Making sure these extra `hasInterface` statements exist seem to improve the graph connectivity, but also seem to introduce 'doubled' links.

In the TS2-9 case, there is still the problem

[2017-12-05 19:29] ibaldin commented on #133
Need to check by running Flukes in Eclipse to see how the structure of manifest can be changed to be properly connected.

[2017-12-05 19:33] ibaldin commented on #133
There are two cases - when stitchport is defined in XXXNet site vs when it is defined directly on ION.

 - Test if this works for stitchports that are local to a Net site (create a slice with VM in the same site linked to stitchport) [Yufeng/Alan]

[2017-12-06 16:20] hinchliff opened #157 "Failure to distinguish multi-point request when Node types are different, but in same domain"
From RENCI-NRIG/exogeni#163:

@YufengXin [commented](https://github.com/RENCI-NRIG/exogeni/issues/163#issuecomment-349476040):

see code in MultiPointHandler.java: function "ifMPConnection()"
Solution:
Option 1 (simple): slightly revise above ifMPConnection function, so that branches of different resource type will not be aggregated.
Option 2 (less simple): modify the NodeGroup definition so that

[2017-12-06 16:25] ibaldin commented on #157
Option 1 is my vote. This is consistent with other stuff we do I think. Users do not expect NodeGroups to be VM/BM heterogeneous at this time.

[2017-12-06 19:26] hinchliff commented on #157
The initial fix -- Option 1 -- basically works, but there seems to be a manifest / visualization issue when testing under emulation.

![157_mp_diff_resource_type](https://user-images.githubusercontent.com/10090677/33681017-5903dcc6-da91-11e7-99f1-08057c9ae2bb.png)
[157_mp_diff_resource_type_manifest.rdf.txt](https://github.com/RENCI-NRIG/orca5/files/1536579/157_mp_diff_resource_type_manifest.rdf.t

[2017-12-07 14:27] hinchliff opened #158 "True-MultiPoint request with one unbound domain results in useless reservation"
This probably isn't a very common use case, where a user requests a reservation with at least three specific domains and also one unbound domain:
![157_mp_mostly_bound_one_unbound_request](https://user-images.githubusercontent.com/10090677/33715552-f907268a-db20-11e7-8160-7c17a78c173b.png)

The resulting reservation is not very useful:
![157_mp_mostly_bound_one_unbound_manifest](https://user-image

[2017-12-07 14:30] ibaldin commented on #158
There are probably at least two choices:

1. Bind the unbound domain

2. Add a rule into request checker to reject requests like this

[2017-12-07 14:49] hinchliff commented on #158
Yes, binding the unbound domain would probably be the right way to fix this, if we wanted to take the time.  It was not immediately apparent to me what the easiest way to do that would be, hence the feeling that it might be more trouble than it's worth -- since it's not that likely that a user would request this sort of reservation.

Which code are you referring to when you say the "request checke

[2017-12-07 15:12] YufengXin commented on #158
To block it in request is totally fine.

A simple first-fit heuristic could make it work: with the list of sites with available resources, just bind unbounded branch in order.

[2017-12-07 15:19] hinchliff commented on #158
We don't have to fix this they way i just committed, but I figured I'd push it up here for possible review.

[2017-12-07 20:33] hinchliff opened #160 "VLAN interfaces names are not sufficiently unique in some circumstances"
As noted in #157, there are cases where the interfaces used to help distinguish VLAN are not sufficiently unique, and can cause [manifest display issues](https://github.com/RENCI-NRIG/orca5/issues/157#issuecomment-349747446).

[2017-12-07 20:41] ibaldin commented on #160
Because interface names on e.g. ION connections are inherited from substrate descriptions, they end up not being unique if e.g. there are two connections coming out towards a multi-point connection from the same domain (has to be from a BM and a VM, because 2xVM connection collapses to a single connection to the multipoint).

The lack of name uniqueness prevents proper reconstruction of paths as s

[2017-12-07 21:35] #157 closed

[2017-12-07 21:39] hinchliff opened #161 "Interdomain slice modify can fail when a single site is both Modified and Added"
From RENCI-NRIG/exogeni#175:

It was discovered that the `UnitDomain` field being used in the `modifyStorage` storage function was not able to correctly differentiate between the B2 node that was being added and the B1 node that was already present but being modified.

[2017-12-07 21:51] hinchliff commented on #161
There are some minor lingering visualization issues, with doubled links present:
![161_interdomain_modify_manifest](https://user-images.githubusercontent.com/10090677/33740439-b35c3de8-db6e-11e7-9431-f53061d9868f.png)
[161_interdomain_modify_manifest.rdf.txt](https://github.com/RENCI-NRIG/orca5/files/1540720/161_interdomain_modify_manifest.rdf.txt)

[2017-12-07 22:48] ibaldin commented on #133
So the issue appears to be the structure of a path to stitchport vs a structure of the path to regular node. It isn't wrong in either case, but it is different. I have code that after the path is reconstructed out of RDF entities (it includes, nodes and links) walks the sequence throwing away links and connecting the nodes). In the case of node-to-node path I can simply skip every other step witho

[2017-12-07 22:49] ibaldin commented on #133
Example node-to node path:

Path (len: 9) http://geni-orca.renci.org/owl/rciNet.rdf#rciNet/Domain/vlan/d8e192d7-ebae-4f92-a643-0cfb80344ddf/vlan http://geni-orca.renci.org/owl/rciNet.rdf#RciNet/IBM/G8264/TenGigabitEthernet/1/0/ethernet-Renci/Cisco/6509/TenGigabitEthernet/3/6/ethernet/ec3cd17c-01d4-4b8b-b4e2-f26bce1feee0 http://geni-orca.renci.org/owl/ben.rdf#ben/Domain/vlan/b23af89e-20ae-4117-9e4d

[2017-12-08 16:21] hinchliff commented on #161
These are the two VLANs on either side of the A-RCI node.  The first one (`8f34d342`) is from the create, while the second one (`88f80454`) is from the modify:

[code]

[code]

Is that extra `hasInterface` statement in the second one causing the doubled link?
[code]

[2017-12-08 20:40] hinchliff opened #162 "Modify adding Inter-Domain Broadcast links results in NullPointerException"
Reported by @paul-ruth

1. Start a new slice with three nodes, in different domains, with _no_ links between them. Create this slice.
1. Modify the slice by adding a _broadcast_ link between two nodes (A and B). Submit this modify.
1. Modify the slice by adding a _broadcast_ link between two nodes (B and C). Submit this modify.
1. `Exception encountered while submitting slice modify request to ORC

[2017-12-08 20:56] paul-ruth commented on #162
Also, this is blocking Yuanjun's progress on the next step for the CICI SAFE work.

[2017-12-11 15:13] hinchliff commented on #162
This is the details on the NPE:

[code]

The VLAN from the first modify (VLAN1 in this case) is what was causing the NPE.  Looks like, since that part of the model is `closed`, it should not be added to the manifest?

I have a test and fix ready to go for this.

[2017-12-11 16:24] hinchliff commented on #133
This was fixed in RENCI-NRIG/flukes#15

[2017-12-11 20:32] ibaldin commented on #161
The model has extra interface and link objects that are causing visual double links. For example, nodes B-BBN and bbnNet has two interfaces (interface names are different by /0/intf suffix:

DEBUG - Interface http://geni-orca.renci.org/owl/bb4ef467-36fc-4a68-82e7-f156ee454d41#Link38-B-BBN between http://geni-orca.renci.org/owl/d5873c92-0fa6-412b-9ef4-bbaff90000fb#B-BBN and http://geni-orca.renci.o

[2017-12-11 21:18] ibaldin commented on #161
This is addressed in Flukes pull request RENCI-NRIG/flukes#17

[2017-12-12 16:29] #161 closed

[2017-12-12 18:09] #158 closed

[2017-12-12 21:35] ibaldin commented on #136
The gleen issue has been resolved and tested in RENCI-NRIG/orca5#95 - we have a version of Gleen that works with Jena 3.3.0

[2017-12-12 21:38] #58 closed

[2017-12-12 22:16] ibaldin commented on #133
There are two problems with mp-st-2-manifest.rdf.txt (which is a request with three-way broadcast link, one of which is a StitchPort in a bbnNet domain)

- The VLAN3 network connection in manifest contains interface http://geni-orca.renci.org/owl/bbnNet.rdf#BbnNet/IBM/G8052/GigabitEthernet/1/1/ethernet/2400 which creates a shortcut from bbnNet to VLAN3 bypassing ION node

If I remove that interfac

[2017-12-13 14:29] hinchliff opened #168 "Code should follow Orca style guide"
The Orca pom includes a [plugin to enforce code formatting / style](https://github.com/RENCI-NRIG/orca5/blob/master/pom.xml#L570).

The style enforced by this plugin, as specified in [orca/format.xml](https://github.com/RENCI-NRIG/orca5/blob/master/build/build/src/main/resources/orca/format.xml), should be verified and then applied to the code base.

[2017-12-13 14:29] #162 closed

[2017-12-13 22:10] ibaldin opened #169 "Modify/install new SSH key is broken"
nova-essex-prepare-key requires knowing AMI/AKI and ARI which are supplied only at instance creation and not during modify (script used for both). Makes it fail on modify install new SSH key.

[2017-12-13 22:11] ibaldin commented on #169
Can we find a way to deploy this on a test rack so we can be sure it works? @mcevik0 @hinchliff before we cut the new release?

[2017-12-13 22:14] ibaldin commented on #169
Addressed in 2f1e845eb115786b4ce3435060811ebede552ca1

[2017-12-14 18:40] mcevik0 commented on #169
Deployed to GWU and tested. Works as expected.
[code]

VM on GWU:
[code]

[2017-12-14 20:05] #168 closed

[2017-12-14 22:04] #169 closed

[2017-12-14 22:05] ibaldin commented on #147
@mcevik0 @hinchliff what should we do about this ticket?

[2017-12-14 22:05] ibaldin commented on #41
@hinchliff is any of this addressed by the current merge?

[2017-12-15 14:01] hinchliff opened #173 "rpmbuild broken from latest commits"
Some of the cleanup that I did to the project poms in #168 broke the rpmbuild.  The project dependencies were not well defined, so by changing the default module ordering, the dependencies were no longer automagically resolved.

[2017-12-15 14:33] mcevik0 commented on #147
It will not affect any of the production racks right now. In my opinion, we can leave it now.

This workaround is quite simple, installing fabric does not affect other stuff and the only change for the script is as above. But, I can try again to find a solution without fabric installation. (I want to check fabric code).

[2017-12-15 21:51] mcevik0 commented on #147
This is caused by a configuration problem on INNO rack.
Permissions of /etc/orca/am+broker-12080/ec2/geni-orca was incorrectly set to 644 which caused ssh to fail.
No changes are needed for the handler script.

[2017-12-15 21:51] #147 closed

[2017-12-18 12:47] #173 closed

[2017-12-18 14:31] hinchliff commented on #41
This has not been fixed.  Running in a test environment, Orca currently returns something like this:
[code]

[2017-12-19 15:25] hinchliff commented on #41
The same exact thing happens with a single large nodegroup (64 units), connected to a broadcast link -- the large NodeGroup is split, and the resulting leases contain reservations with e.g. "Resource Units: 32".  The fact that the original request was MultiPoint and joined together doesn't seem necessary to replicate this bug.

It looks to me like the problem is that the function [generateVCConnec

[2017-12-20 14:51] hinchliff commented on #41
I believe the [Modify portion](https://github.com/RENCI-NRIG/orca5/issues/41#issuecomment-172093576) of this ticket is a known issue, where [MultiPoint modify doesn't work because departure drive AM policy does not support it](https://github.com/RENCI-NRIG/orca5/issues/106#issuecomment-296676004).

[2017-12-20 15:01] #41 closed

[2017-12-20 17:55] hinchliff opened #176 "Reservations fail with error "Content is not allowed in prolog""
New reservations in release 5.3.0 can fail with the following error message:

It appears that some of the changes from `mvn formatter:format` have caused errors in XML files, specifically when the XML files have DOCTYPE statements, as in [tools/cmdline/build.xml](https://github.com/RENCI-NRIG/orca5/commit/0ff070ee9df1293f74b9f16e26f2b33f0f38a71e#diff-6d0ca63a6a8548b23def2bbe58b2cbfd).

Formatting

[2017-12-20 17:59] ibaldin commented on #176
Probably also want to somehow limit the execution of that plugin to avoid it running on XML files again? Is taht possible?

[2017-12-20 18:08] hinchliff commented on #176
I think this command is correctly reverting all XML files with DOCTYPE in them
`find . -type f -name '*.xml' -exec grep -l DOCTYPE {} + | xargs git checkout 0ff070ee~1 --`

Still investigating if this is the best way.

[2017-12-20 18:11] ibaldin commented on #176
Aren't all XML files required to have a DOCTYPE?

[2017-12-20 18:13] hinchliff commented on #176
I'm not sure about the requirement, but most of them seem to not have one.

[2017-12-20 18:25] ibaldin commented on #176
Huh. So we think this formatting issue is only for XML files with DOCTYPE explicitly declared?

[2017-12-20 18:25] ibaldin commented on #176
Should we be on the safe side and revert all XML files?

[2017-12-20 18:25] ibaldin commented on #176
Do we know if it touched RDF files?

[2017-12-20 18:31] hinchliff commented on #176
Every other XML file that I have looked at seems OK. And it doesn't look like it touched RDF files.

The changes the plugin made to CSS file are a little off, so I think I will revert those too.

[2017-12-21 15:39] hinchliff opened #178 "NodeGroup increase (modify) leads to visualization error"
From RENCI-NRIG/exogeni#192

[From Ilya](https://github.com/RENCI-NRIG/exogeni/issues/192#issuecomment-353238026), it looks like the parent/`sameAs` information is not being correctly assigned.

-----------------------------------------------------------------------------------------------------
Testing RENCI-NRIG/orca5#122 on the orca-5.3.1 release, the NodeGroup increase seems to work as expecte

[2017-12-21 15:50] hinchliff commented on #178
@ibaldin does the manifest from this look better?

[178_manifest.rdf.txt](https://github.com/RENCI-NRIG/orca5/files/1579685/178_manifest.rdf.txt)
![178_manifest_view_after_modify](https://user-images.githubusercontent.com/10090677/34262799-6151c7ac-e63b-11e7-84bf-22bbc0ab27db.png)

It looked to me, in the old manifest files, that _both_ the existing NodeGroup nodes and the new NodeGroup nodes had

[2017-12-21 16:07] ibaldin commented on #178
I suspect that code is a cut-and-paste.

[2017-12-21 18:09] hinchliff commented on #178
I think I have fixed the main issue with the interface `sameAs` statements, but the interface naming is still a little awkward.

In the change that I made, I was able to get the `sameAs` / parent interface ontology resource when appropriate, but I could not figure out how to get back to the [Interface that matches that Resource](https://github.com/RENCI-NRIG/orca5/blob/178_nodegroup_interface_same

[2017-12-22 04:28] YufengXin commented on #178
In the manifest view, all the nodes have the same name “NodeGroup0”, before they were disguised by a “/x” appendix.

-Yufeng

[2017-12-22 05:14] ibaldin commented on #178
This is an older version of Flukes. It should be proper now.

[2017-12-22 05:15] ibaldin commented on #178
This wasn't a change in orca, it was a change in Flukes that caused the naming issue you're talking about @YufengXin You may need to restart/update flukes.

The issue with interface names was described above. I think Alan was close to fixing it, I don't know what the latest status is. He was testing in the afternoon.

[2018-01-02 17:37] #178 closed

[2018-01-04 19:09] ibaldin opened #180 "Unit test for interdomain modify delete/add failing"
We are using branch 178_nodegroup_interface_sameas for this. There are frequent (however not 100% of the time) failures of two unit tests:

 - OrcaXmlrpcHandlerTest.testNodeWithTwoInterfacesInterdomainDeleteAdd()
 - OrcaXmlrpcHandlerTest.testMixedDomainMultiStepModify()

It appears to be caused by improperly set num.parent.new property on the modified reservation. In the valid case its value is 1,

[2018-01-04 22:27] ibaldin commented on #180
The problem appears to be that in ReservationConverter.modifyReservations() there is a loop
[code]
that iterates over preceded by entry set of domain elements-URI mappings. When the test fails the set contains one fewer URIs - it appears the missing one should be there to help set num.parent.new property:
[code]
in the invalid case it doesn't happen
[code]
The precededBy set is modified by the fun

[2018-01-05 15:14] ibaldin commented on #180
The fix above removes the early exit out of the loop for CloudHandler.setEdgeNeighbourhood():

[code]
Not clear what the implications are for the code overall. Because the order of traversal of elements in the for loop is random, sometimes the correct network element is identified and the loop is exited and sometimes and incorrect one (and in this one because of the break statement it never gets t

[2018-01-05 18:27] ibaldin commented on #180
This is related to #178, the fix for 178 produced this problem. 178 will remain closed.

[2018-01-05 21:21] ibaldin commented on #180
Per @YufengXin the issue may be due to merging of createInterface() functions between CloudHandler and ModifyHandler, where the existence of extra elements on the list wasn't anticipated (for the create case). He is looking into it. Currently the code passes all existing unit tests.

[2018-01-08 16:00] ibaldin opened #181 "Modify handler to test SSH connectivity only optionally"
Off by default.

[2018-01-11 17:31] ibaldin commented on #181
Now a property named ssh.key.insertion.soft.failure can be added to ec2 site properties to treat SSH key injection errors as soft (only logging) to support windows. It's not the default yet - the default is hard failure for the moment.

[2018-01-11 18:49] ibaldin commented on #181
@mcevik0 Mert if you could test branch 181_ssh_optional on a standalone rack under the following conditions:

1. without modifying ec2.site.properties test that
  - Linux images boot properly, keys are inserted into new instances
  - Adding new keys after the instance is booted also works (via new Flukes functionality)
  - Windows images will likely fail at the step when keys are inserted (but not

[2018-01-11 20:03] vjorlikowski commented on #93
Resolved by @mcevik0 via commit https://github.com/RENCI-NRIG/orca5/pull/167
Closing.

[2018-01-11 20:03] #93 closed

[2018-01-13 03:20] mcevik0 commented on #181
I pushed some changes to the branch 181_ssh_optional after testing on inno rack.
These changes are mostly about indentation.
- No major changes are made for logic although diff shows a significant amount of changes.
- Added a variable to catch the number of retries [here](https://github.com/RENCI-NRIG/orca5/blob/6dab409c23498426e6083db4ad4f19b8ad6a965d/handlers/ec2/resources/scripts/nova_essex_com

[2018-01-16 20:18] YufengXin commented on #180
Just wondering if the problem only happens when delete than add, consecutively adding nodes works fine?

[2018-01-16 20:20] ibaldin commented on #180
It happens within the same unit test with probability of about 70% failure 30% success. The unit test does not vary what it does.

As I mentioned the problem itself is resolved (by commenting out the break statement you see above). The issue is - is it the right fix for all situations.

[2018-01-20 02:46] mcevik0 commented on #181
- Python scripts are reformatted by PyCharm and pushed to 181_ssh_optional branch (RENCI-NRIG/orca5@2356289)
- I tested these scripts on inno rack. All test cases passed successfully.

[2018-01-23 15:51] #181 closed

[2018-01-23 19:24] YufengXin commented on #180
I did some more tests in both unit tests and the emulation tests and didn't see failures. This issue can be closed by this fix.

The "break" statement should be inside the "IF" block, ie, as long as the connection is found, no need to further loop. But removing "break" statement works just fine.

[2018-01-24 21:32] ibaldin commented on #180
Resolved in #185

[2018-01-24 21:32] #180 closed

[2018-01-24 21:33] #12 closed

[2018-01-24 21:33] #19 closed

[2018-01-24 21:34] ibaldin commented on #2
Need newer data - not clear this is a problem anymore.

[2018-01-24 21:34] #2 closed

[2018-01-29 16:22] ibaldin commented on #92
RENCI/orca5#184 addresses this

[2018-01-29 16:22] #92 closed

[2018-01-29 16:30] vjorlikowski opened #187 "XMPP PubSub may be dying randomly due to failures to catch NPE in xmpp-pubsub library"
Need to integrate new version of xmpp-pubsub that fixes:

https://github.com/RENCI-NRIG/xmpp-pubsub/issues/1

Presuming that this fixes the XMPP PubSub issue, integrating a fixed version may also resolve:

https://github.com/RENCI-NRIG/exogeni/issues/156

[2018-01-29 18:20] ibaldin opened #188 "Manifest model issues"
There are several problems in the way that manifest RDF models are constructed that make it difficult to perform visualizations and RSpec conversions.

 - Manifest frequently relies on physical interface names, rather than creating virtual interface names that point to physical ones.
    - One of the way the problem shows itself is RENCI-NRIG/exogeni#163 - Flukes isn't able to find a unique path b

[2018-01-29 18:24] ibaldin commented on #188
I would reconsider using sameAs relationship currently used as a mechanism to point from child to parent interfaces. Since sameAs has some standard OWL entailments, turning on inference on a manifest will have the undesired result of inserting sameAs relationships pointed from parent to child (needs to be verified?) due to its symmetry.

[2018-02-05 16:42] ibaldin commented on #187
We'll do a point release 5.4.1

[2018-02-08 15:10] ibaldin opened #196 "Links in manifest sometimes don't contain the list of items"
First reported by Ciena/UvA team in RENCI-NRIG/exogeni#200.

It appears some links in a manifest (intra-domain; inter-domain needs to be thoroughly tested) despite being declared LinkConnection and NetworkConnection, do not contain the list of items (which in case of point-to-point links usually consists of the two nodes incident on the link). Also hasn't been observed for broadcast connections.

[2018-02-08 15:39] ibaldin commented on #196
A simple triangle request shows that you can have a link with no items, link with some items (only one of the nodes) and a link with all items.

[triangle-manifest.rdf.txt](https://github.com/RENCI-NRIG/orca5/files/1707686/triangle-manifest.rdf.txt)

[2018-02-08 22:31] ibaldin commented on #196
The problem appears to be related to CloudHandler.createInterface function. What is observed is that ComputeElements have all just one interface:
[code]

while network elements point to compute elements of their own with the right number of interfaces:

[code]

[2018-02-08 23:27] ibaldin commented on #196
One possible fix that works (but no regression testing) is to modify the function ComputElement.copy() to copy both interfaces and clientInterface fields

Same perhaps should be done for the dependencies field that is now copied separately.

[2018-02-12 16:19] #187 closed

[2018-02-19 15:09] ibaldin opened #198 "ExoSM deadlock due to JVM issues"
@vjorlikowski identified a deadlock situation related to some deep JVM behavior.

Related to RENCI-NRIG/exogeni#198

[2018-02-19 16:21] mcevik0 commented on #14
This still works the way described as above. I created a node and attached two LUNs. For each LUN a separate interface is created on the VM.

[2018-02-23 20:23] vjorlikowski opened #200 "Handle cleaned up slices a little more gracefully in controller..."
As slices are cleaned up - we get some of these exceptions in the controller:

[code]

This just needs a try/catch at like 469 of OrcaXmlrpcHandler.

[2018-02-26 16:21] #196 closed

[2018-02-26 16:21] #198 closed

[2018-03-19 21:39] mjstealey opened #204 "javadoc - resolve errors when javadoc is enabled in release profile"
### Work around

Comment out the javadoc section of the release profile for release 5.4.1

### TODO

Uncomment javadoc section of release profile and generate a dry run of `release:prepare`

[code]

Partial trace:

[code]

[2018-03-19 21:41] mjstealey opened #205 "release 5.4.1 - disable javadoc from release profile"
Prep for release 5.4.1
- [x] update version of SNAPSHOT to be 5.4.1
- [x] disable javadoc generation from the release profile (#204)

[2018-03-20 18:22] ibaldin opened #207 "Rename artifacts and publish to OSSRH"
We received approval for group id 'net.exogeni.orca' to allow us to publish ORCA artifacts in Sonatype's OSSRH http://central.sonatype.org/pages/ossrh-guide.html
[code]
From https://issues.sonatype.org/browse/OSSRH-38549

Now we need to update all the pom files and many build.xml files to reflect the new naming. This and the fixed javadoc #204  will allow us to publish to OSSRH.

[2018-03-20 18:42] mjstealey commented on #205
merged, release has been pushed, closing

[2018-03-20 18:42] #205 closed

[2018-03-20 22:07] vjorlikowski opened #208 "Modify support for adding interfaces occasionally fails to pass properties, or passes duplicates."
ORCA version is: orca-iaas-5.4.0_0_g0ece627-201801251206.

In /root/modify_failures_02_19_2018 (on tamu-hn), we have evidence of some modify failures that Yuanjun has been seeing; the following log entries demonstrate the failure:

INFO   | jvm 1    | 2018/02/16 05:48:16 | Ignoring interface in userdata: [interfaces]
INFO   | jvm 1    | 2018/02/16 05:48:16 | PRUTH: line = fa163e007201=up:ipv4:192.

[2018-03-20 22:15] vjorlikowski opened #209 "Error handling is insufficient for adding interfaces via modify"
ORCA version is: orca-iaas-5.4.0_0_g0ece627-201801251206.

In /root/modify_failures_02_19_2018 (on tamu-hn), we have evidence of handler code not properly failing and returning errors upstream. This issue is a follow-on to: https://github.com/RENCI-NRIG/orca5/issues/208

At line 844 of: handlers/ec2/resources/handlers/ec2/handler.xml

We call the python script "neuca-quantum-add-iface" - but we do

[2018-03-20 22:20] ibaldin commented on #208
From Yanjun:
[code]

[2018-03-20 22:21] ibaldin commented on #208
Also from Yuanjun (AHAB-based):
[code]

[2018-03-20 22:28] vjorlikowski commented on #209
Please note - neuca-quantum-add-iface fails in two different ways, in: #208
1) neuca-quantum-add-iface got handed a MAC that already exists in the VM, and errors out.
2) neuca-quantum-add-iface got handed something that *isn't a MAC* (e.g. "${modify.3.mac}"), and errors out.

neuca-quantum-add-iface should probably check to see if what's being handed to it is actually a MAC, and handler.xml should

[2018-03-21 02:58] vjorlikowski commented on #208
Adding text of email from me to Yuanjun to ticket:

Yuanjun:

Do you have 4 dataplane interfaces on the VMs you modify?
Is one of those, the second, modified after you've added a previous
interface?

Reason I ask...

Look at this block of logs:

INFO | jvm 1 | 2018/02/16 05:48:08 | processing key: [interfaces]
INFO | jvm 1 | 2018/02/16 05:48:08 | Ignoring interface in userdata: [interfaces]
INFO |

[2018-03-21 03:01] vjorlikowski commented on #208
To be correct - the typo wasn't the only difference on that line... ;)

[2018-03-22 18:14] ibaldin opened #210 "Create Corsa handler for DD"
Need to modify orca AM and handler code to use a single Corsa switch instead of DD and Exchange switches so we can place the Corsa switch at DD.

handlers.network.providers.departuredrive

[2018-03-22 18:19] ibaldin commented on #210
@paul-ruth says portions of Chameleon Corsa plugin can be used to support the handler.

[2018-03-26 16:40] ibaldin commented on #208
Yuanjun confirms this is a problem in INTRA-rack requests. So single rack tests should show this.

There is a question whether the fixes in https://github.com/RENCI-NRIG/orca5/releases/tag/orca-5.4.1 related to property passing fix this problem already.

@mcevik0 will test in a limited deployment.

[2018-03-26 18:20] mcevik0 commented on #208
I deployed 5.4.1 to INNO and PSC racks. Missing interface problem is not fixed. I see output matching with Victor's statements above in the very first comment (ie. Result code:1) on both racks. @ibaldin

[2018-03-28 21:06] mcevik0 commented on #208
neuca-user-data from one of the failed attempts:

[code]

[2018-03-28 21:10] ibaldin commented on #208
Having trouble repeating it on ExoSM. Need more time to test. I did repeat it on PSC controller.

[2018-04-30 17:47] kthare10 commented on #208
**Description and Root Cause for the issue**
OrcaXmlRpcHandler::modifySlice invokes ReservationConverter::modifyReservations to construct local properties of the reservations. This function is invoked for the parent reservation i.e. VM node reservation.  OrcaXmlRpcHandler::modifySlice then adds status watchdog for all the reservations.

Successful completion of the reservation triggers Reservation

[2018-05-14 20:51] mjstealey commented on #208
PR #211 merged and release published.
closing.

[2018-05-29 16:58] kthare10 opened #212 "Orca integration with Comet"
Use comet to pass properties to VM instead of ini files from AM. Using comet instead of ini files is a pre-requisite for the Openstack upgrade. This will ensure that no modifications are required in openstack.

Proposed Schema for Comet
![fieldmappings](https://user-images.githubusercontent.com/36123970/40858449-4ce032e0-65ac-11e8-9ddd-0c032149f7bd.png)

[2018-06-04 13:33] kthare10 commented on #212
JSON Schema for saving Users info in Comet. Users information will be stored in scopeValue field.

{
  "$id": "users.json",
  "type": "array",
  "items": {
    "$id": "users.json/items",
    "type": "object",
    "properties": {
      "user": {
        "$id": "users.json/items/properties/user",
        "type": "string",
        "title": "User Name",
        "default": "",
        "examples": [

[2018-06-04 13:48] kthare10 commented on #212
JSON Schema for saving Users info in Comet. Users information will be stored in scopeValue field.
![users](https://user-images.githubusercontent.com/36123970/40921073-73002be2-67dc-11e8-8116-7cd1a14f5439.png)

[2018-06-04 13:48] kthare10 commented on #212
JSON Schema for saving Interfaces info in Comet. Interfaces information will be stored in scopeValue field.
![interfaces](https://user-images.githubusercontent.com/36123970/40921089-7e8516a8-67dc-11e8-92ac-8043701e0479.png)

[2018-06-04 13:49] kthare10 commented on #212
JSON Schema for saving Storages info in Comet. Storages information will be stored in scopeValue field.
![storages](https://user-images.githubusercontent.com/36123970/40921109-8e78f854-67dc-11e8-8b80-33347e241b9a.png)

[2018-06-04 13:49] kthare10 commented on #212
JSON Schema for saving Routes info in Comet. Routes information will be stored in scopeValue field.
![routes](https://user-images.githubusercontent.com/36123970/40921122-982d6f2e-67dc-11e8-9e0a-b7f49d0f7f6c.png)

[2018-06-04 13:49] kthare10 commented on #212
JSON Schema for saving Scripts info in Comet. Scripts information will be stored in scopeValue field.
![scripts](https://user-images.githubusercontent.com/36123970/40921137-a291d626-67dc-11e8-81ab-fc475ef8fbcb.png)

[2018-06-12 15:05] ibaldin commented on #212
For users - we should be able to specify multiple SSH keys per user.

For routes - we probably should also add the 'via' and 'dev' options, like ip-route supports?

[2018-06-21 19:11] kthare10 opened #213 "Slice modify with broadcast link does not work properly"
Software issue for https://github.com/RENCI-NRIG/exogeni/issues/223

**Scenario:**
1. Create a slice with 3 VM instances on one rack connected to a broadcast link
2. Modify the slice by creating another VM instance on a different rack and connect it to existing broadcast link

**Observation:**
1. neuca_user_data reports the interface on 4th VM but the VM does not have the interface created on it

[2018-06-22 15:29] kthare10 commented on #208
All config properties without a modify prefix are loaded into local properties. Any update to local properties is saved as modify.x.<propertyname> config property as a result of modifySlice
Example:
For a VM created with two interfaces unit.number.interface is set to 2 in config properties
On receipt of a modify to add an interface to the VM this unit.number.interface is loaded into localPropertie

[2018-06-25 14:40] kthare10 commented on #212
Updated users and routes schema to incorporate the comments

[2018-07-05 17:17] #208 closed

[2018-07-16 18:10] kthare10 commented on #212
Setting up the Certificates on Comet Server once CA Cert, Server Cert and keys are generated:

1. Create CA Trusted Key Store from CA Certificate

`keytool -import -file DigiCertCA.crt -keystore comettrustedstore.jks`

2. Create Server Key Store from Server certificate and private key

`cat comet_exogeni_net.key star_exogeni_net.crt > cometserver.pem`

`openssl pkcs12 -export -in  cometserver.pem

[2018-07-16 18:13] kthare10 commented on #212
Setting up the Certificates on AM once CA Cert, Client Cert and keys are generated:

1. Convert CA Cert to der format
`openssl x509 -in DigiCertCA.crt -out DigiCertCA.der -outform DER`

2. Create a jks key stor for client certificate and private key

`cat inno-hn_exogeni_net.key star_exogeni_net.crt > client.pem`

`openssl pkcs12 -export -in client.pem -out client.pkcs12`

`keytool -importkeystore

[2018-07-23 15:12] ibaldin opened #216 "Suspected memory leak in the controller"
Information is reflected in RENCI-NRIC/exogeni#224 - we need to investigate further. Mert indicates memory consumption slowly increasing on controller over time.

Possibly related to TicketReviewPolicy.

[2018-07-27 21:02] ibaldin opened #217 "Further ORCA integration with COMET and neuca-guest"
In order to support a broader range of functionality and have material for the paper we want to extend the functionality to support the following use-cases
- Ability to populate /etc/hosts files in groups of nodes in a slice (using information coming from the nodes)
- Ability to insert public SSH keys generated on the nodes (not by controller or AM) to support one-to-many, some-to-some and any-to-

[2018-07-27 21:03] ibaldin commented on #217
From Komal
[code]

[2018-07-27 21:05] ibaldin commented on #217
Picture based on discussion we further extended the concept above.

![2018-07-27 11 53 46](https://user-images.githubusercontent.com/12304033/43346483-44b75bc2-91bf-11e8-99b8-0df230acf0ec.jpg)

[2018-07-27 21:16] ibaldin commented on #217
Proposed schema for COMET

![comet-orca-extension](https://user-images.githubusercontent.com/12304033/43346734-58807214-91c0-11e8-91da-eec19bcb87d7.png)

Some rules that were derived for controller, AM and VM behavior:

- Each host group has a single common read token. However the write tokens are different for all VMs
- The hierarchy shown is created by the controller since visibility to whole sl

[2018-08-14 12:16] kthare10 commented on #212
Changes merged to master

[2018-08-14 12:16] #212 closed

[2018-08-20 17:40] kthare10 commented on #200
This is already addressed in code. Code already contains a try/catch block to handle the exception

https://github.com/RENCI-NRIG/orca5/blob/4e216fc7ea78dbbfde8b5fb7e85ba281fec2d827/controllers/xmlrpc/src/main/java/orca/controllers/xmlrpc/OrcaXmlrpcHandler.java#L452

[2018-08-20 17:45] #200 closed

[2018-08-23 14:39] #209 closed

[2018-08-23 14:39] kthare10 commented on #209
Fixed by pull request 218

[2018-08-27 14:48] #204 closed

[2018-09-10 16:35] kthare10 opened #221 "Orca changes to address Openstack Upgrade"
Orca changes to address openstack upgrade
Refer https://github.com/RENCI-NRIG/exogeni/issues/230 for more details

# Updates made so far:
## Ec2 Handler
- Following additional parameters added to **config/ec2.site.properties**
   a) ec2.management.network
   b) ec2.security.group
   c) ec2.public.network
### Nova changes
- nova_essex_common updated to use openstack commands instead of nova command

[2018-09-17 14:48] kthare10 commented on #217
Refer to https://github.com/RENCI-NRIG/neuca-guest-tools/issues/5 for details on usage of neuca-guest-tools

[2018-09-20 13:34] paul-ruth opened #223 "Broken manifest when adding Stitchport to node with multiple existing interfaces"
This error is seen with the CICI-SAFE sdx code.  The slice has nodes at multiple sites connected with interdomain broadcast networks.  Each site also has additional node(s) connected with an intradomain broadcast networks.  None of the nodes have IPs.

If we add a stitchport to one of the nodes that has multiple links the slice works (I think) but the manifest is broken.

An example broken manifes

[2018-09-20 13:47] paul-ruth commented on #223
Here is a set of requests and manifests that can be use to recreate the issue.  Note they all end in txt (b/c github)

[example-broken-request-manifest2.txt](https://github.com/RENCI-NRIG/orca5/files/2401547/example-broken-request-manifest2.txt)
[example-broken-request-manifest1.txt](https://github.com/RENCI-NRIG/orca5/files/2401548/example-broken-request-manifest1.txt)
[example-broken-request.txt

[2018-10-08 15:56] kthare10 commented on #223
File attached is for a smaller slice.
Scenario:
A) Slice created with 3 Nodes Node1, Node 2 and Node 3 with both Node 1 and Node 3 connected to Node 2
B) Slice modified to add Stitch Port SP1 to Node 2, manifest fails to load after the modify

[ahab-modify-SP1.txt](https://github.com/RENCI-NRIG/orca5/files/2456682/ahab-modify-SP1.txt)

[2018-10-08 16:55] kthare10 commented on #223
Test: Perform Stateful restart controller after modify
Observation: Manifest is loaded successfully after stateful restart of the controller.
Subsequent modify still fails with the same error

Attaching manifest after the stateful restart
[ahab-modify-SP1-afterrestart.txt](https://github.com/RENCI-NRIG/orca5/files/2456886/ahab-modify-SP1-afterrestart.txt)

[2018-10-10 20:58] ibaldin commented on #223
What is the actual error that is received (and where?) @kthare10

[2018-10-11 01:40] kthare10 commented on #223
Scenario:
Create a slice with 3 Nodes N1, N2 and N3 with links as N1-N2-N3
Modify slice by adding stitchport to N2
Modify is successful but resulting manifest is broken

Polling Manifest view from flukes results in below exception:
![screen shot 2018-10-10 at 12 44 48 pm](https://user-images.githubusercontent.com/36123970/46775400-16f42700-ccd5-11e8-963a-715a6f7d278d.png)

[2018-10-11 10:33] kthare10 commented on #223
Exception is observed irrespective of nodes being on single domain or inter domain

[2018-10-11 14:34] ibaldin commented on #223
The path from stitchport SP1 ends without reaching the stitchport node, after the LinkConnection object with interface `http://geni-orca.renci.org/owl/orca.rdf#dbf6a192-8b4a-4a1b-b4c3-8089d2536982/Stitching/Domain/intf`.

LinkConnection:
[code]

The LinkConnection leads back to ION:
[code]

Stitchport SP1 has no interfaces:
[code]

The path up to the link connection from the VM appears valid. The

[2018-10-11 15:41] ibaldin commented on #223
Simplified manifest attached for the record.

[sp-1-simplified.txt](https://github.com/RENCI-NRIG/orca5/files/2469648/sp-1-simplified.txt)

[2018-10-15 15:19] #207 closed

[2018-10-16 12:55] kthare10 commented on #223
Embedding code is generating the same path for success(create) as well as failure(modify) scenario.
[code]

[2018-10-19 12:38] kthare10 commented on #223
Scenario:
1) Create a slice containing 1 VM
2) Modify slice by attaching a stitch port
3) Modify is successful but the polling the manifest results in an exception
4) Subsequent modifies to the slice fail

NOTE: Similar scenario where VM and stitch port are created together at the create slice works.

Investigation and comparison of these scenarios pointed out that the Path computed for both is sa

[2018-10-30 17:48] kthare10 commented on #223
This issue results in following missing elements from manifest:

**Issue:1 : Link object has following properties missing:**
- interfaces
- GUID
- layer
- bandwidth

**Issue:2 : StitchPort object has following properties missing:**
- interfaces

**Root cause for the above two issues:**
For createSlice, requestModel is added to the manifest before any embedding logic is invoked or manifest is gener

[2018-11-07 19:10] kthare10 commented on #223
**Problem Description:**
Adding first stitchport via modify slice is successful but results in broken manifest
All subsequent modifies fail

**Root Cause**
Manifest is missing properties for StitchPort, Link and interface object

Missing properties for StitchPort and Link Object
For createSlice, requestModel is added to the manifest before any embedding logic is invoked or manifest is generated in

[2018-11-07 20:27] mjstealey opened #225 "revert OSSRH changes"
Revert OSSRH changes

1. checkout master and create new branch named `225-revert-ossrh`
2. find commits related to [br207 PR](https://github.com/RENCI-NRIG/orca5/pull/222/commits)
3. revert commits in order and push back to `225-revert-ossrh`
[code]
4. verify that [Jenkins job](http://ci.exogeni.net:8080/job/ORCA5Temp/64/) completes successfully

[2018-11-08 23:54] #225 closed

[2018-11-09 00:52] #223 closed

[2018-11-10 14:25] kthare10 opened #228 "Exception observed in LabelSync Thread"
My test slices worked well after this update. I'm waiting to hear from Paul for stitchport modification.
Also, periodically I see an exception statement as below. It might not be something new.
/etc/orca/controller-11080/logs/controller-stdout.log
INFO   | jvm 1    | 2018/11/09 15:18:26 | java.lang.NullPointerException
INFO   | jvm 1    | 2018/11/09 15:18:26 |     at orca.controllers.xmlrpc.Xmlrpc

[2018-11-10 14:28] #228 closed, assigned to nobody

[2018-11-28 16:05] #217 closed

[2018-11-28 16:23] kthare10 opened #231 "Slice request failure for stitchport connected to unbound VM"
Topology with an unbound VM and stitchport receives exception.

Refer https://github.com/RENCI-NRIG/exogeni/issues/236 for more details

Adding below rule prevents such requests:
[code]

[2018-11-28 16:25] kthare10 opened #232 "Inter-rack slices with unbounded node-groups receive error"
Unbound NodeGroup when results in VMs spanning multiple sites results in error.

Refer https://github.com/RENCI-NRIG/exogeni/issues/225 for more details.

Such requests can be prevented by adding following rule:
[code]

[2018-11-28 18:42] #231 closed

[2018-11-28 19:54] kthare10 opened #234 "Security Issue reported by Github for com.fasterxml.jackson.core:jackson-databind"
![screen shot 2018-11-28 at 2 51 54 pm](https://user-images.githubusercontent.com/36123970/49178351-8c679580-f31d-11e8-993d-eb1fc9a70a3d.png)

[2018-11-28 19:56] ibaldin commented on #234
Yeah I saw that, thank you for paying attention. It is cool that GitHub is starting to do this - will help many projects tremendously.

[2018-12-03 17:17] #234 closed

[2018-12-08 03:49] mcevik0 commented on #6
The problem described above does not exist any more.
Nodes are created with the names specified in the request rspec (without `/0` suffixes)

Request rspec:
[request-orcaissue6.rspec.txt](https://github.com/RENCI-NRIG/orca5/files/2659371/request-orcaissue6.rspec.txt)

Created slice:
![screen shot 2018-12-07 at 22 40 37](https://user-images.githubusercontent.com/18286650/49681548-c8af9a00-fa71-11e8

[2018-12-10 16:07] mcevik0 commented on #6
This does not seem to be an issue right now and can be closed I guess.

[2018-12-10 16:13] #6 closed

[2019-02-12 16:30] kthare10 opened #237 "Security issue reported by github"
![screen shot 2019-02-12 at 11 30 18 am](https://user-images.githubusercontent.com/36123970/52651128-a2670a00-2eb9-11e9-8201-74de2b2aeb34.png)

[2019-03-08 13:42] kthare10 opened #239 "Enable Stitchport-to-Stitchport Request"
Enable Stitchport-to-Stitchport Request
Refer https://github.com/RENCI-NRIG/exogeni/issues/208 for more details.

[2019-03-09 01:01] #239 closed

[2019-03-18 19:07] ibaldin opened #241 "JAVA 11 upgrade"
Victor has done some work for upgrading ORCA to work with Java 11 on Java_11 branch.

[2019-04-23 12:32] #237 closed

[2019-05-06 13:22] kthare10 commented on #216
Based on Eclipse Memory Analyzer, 1.8Gb of memory is being consumed by PubSub thread. First review of the PubSub controller code does not indicate any issues in the code. Proposed to disable PubSub on ExoSM.

[2019-05-06 13:23] kthare10 commented on #216
Inputs from Mert:

Mert Cevik [2:03 PM]
Actually, XMPP daemon, database and all relevant stuff was already there for a long time. I know that OpenFire on `control.exogeni.net` has some issues as well. I see exceptions occasionally, and service is crashing as well. That's one of the reasons that I wanted to migrate some services out of `control.exogeni.net` and update them.
I need to remember the c

[2019-05-06 14:09] mcevik0 commented on #216
"ORCA pubsub properties" in `geni.renci.org:/etc/orca/controller-11080/config/controller.properties` (line 85-90) commented and controller JVM restarted.

[2019-06-03 21:19] #221 closed

[2019-06-04 13:18] ibaldin opened #242 "Add support for Horizon property queries to NdlCommons"

[2019-06-04 16:01] ibaldin opened #243 "NDL manifest contains replicated incorrectly formatted labels for some objects"
This is a minor issue with manifest.

This is from the attached manifest (which is the same as in #242). CrossConnect (LinkConnection) object cmnw contains two label statements "3" and "3.0". The second one is incorrect - they should always be integers. Not clear what is causing duplicate labels one formatted as integer, one as a float. Flukes may randomly pick up 3 or 3.0 as the label that gets d

[2019-06-05 19:50] #242 closed

[2019-06-08 00:27] kthare10 opened #245 "Orca cleanup images when cleaning up openstack project on slice deletion"
cleanup user created images when cleaning up openstack project on slice deletion

[2019-06-10 16:07] #245 closed

[2019-07-31 18:17] kthare10 opened #247 "Slice creation with more than 1 VM fails"
Slice creation with more than 1 VM fails as Openstack Security Group List API when run in parallel returns INTERNAL_SERVER_ERROR

Slice creation with 2 VMs triggers the code for Openstack Project creation in parallel from two instances. Start Project creation involves
- creating project, user, key pair, security group rules
In this process, for VM2, security group list seems to be consistently fai

[2019-08-20 14:18] #247 closed

[2019-08-20 14:26] kthare10 opened #250 "Issues observed in Upgrade"
- Slice Name is used in Openstack project name, user name and key name. Openstack does not allow special characters in the name. Slices with special characters in the name failed to create. Added a restriction to only allow alphanumeric characters and - in slice name. This behavior is configurable.

- Openstack returns failure for network create command but the network has been successfully create

[2019-08-20 14:36] #250 closed

[2019-08-20 18:19] kthare10 opened #251 "Update AUTs to work with slice name restriction"
Update AUTs to work with slice name restriction

[2019-08-20 18:47] #251 closed

[2019-09-03 14:58] kthare10 opened #253 "Return list of interfaces in Postboot script and maintain the order of the interfaces on VM"
New Feature discussion: In postboot script, adding a function to return the list of link names of a node, e.g., $Node0.AllLinks() will return a list ["Link5", "Link1", "Link0"]. This may be related to the previous question of getting the interface names of a node, ie., better the node creates the interfaces in the same order of the link list. I remember that ORCA controller passes the interface na

[2019-09-03 17:11] #253 closed

[2019-09-04 18:47] kthare10 opened #255 "ScriptConstructor returns link with null name when node has dependency set"
ScriptConstructor returns link with null name when node has dependency set

[2019-09-04 19:18] #255 closed

[2019-11-25 17:24] mcevik0 commented on #216
OpenFire server that was installed with the latest version was showing similar exceptions with the current instance. Careful investigation is needed to determine if the culprit is the OpenFire server process itself. Instead of switching the production XMPP OpenFire server to a new server, we may consider a test server and a pubsub instance pointed to that.

[2020-01-27 14:55] kthare10 opened #261 "Resource Leak Issue"
Mert noticed resource leaks on Exogeni racks. Please find the details of the investigation below.

Based on my analysis, this is happening on scenarios like below:

**Scenario:**

1. Slice create request received with a VM and network resources received
2. Network created (also creates the project, user created)
3. VM creation started (while this was in progress, request received to delete the net

[2020-03-23 17:31] mcevik0 opened #264 "TDB issue on controller recovery"
When I tried to stateful-restart the controller, TDB was not synched and model state was lost on ExoSM. Relevant observations are below:
- One rack loses public connection, but slice operations take place against this rack (new slices etc)
- Reservations are in ticketed,redeeming state and are stuck. They cannot be deleted through pequod.
- Depending on the conditions above (or other separate reas

[2020-03-26 20:10] kthare10 commented on #264
Based on discussion following actions were planed:
- Increase timeout for TDB sync on shutdown
- Cleanup for redeeming reservations at SM

### Cleanup for [Ticketed,Redeeming] reservations
- Reproduced this on rocky-hn
- Current cleanup as listed [here](https://wiki.exogeni.net/doku.php?id=private:operation:orca:periodic_tasks#ticketed_reservations_cleanup) doesn't work as reservations are not in

[2020-03-26 20:47] ibaldin commented on #264
OK, that's good. @mcevik0 will this work for you?

[2020-03-26 21:23] mcevik0 commented on #264
There is a live example of such stuck ticketed reservations on ExoSM. I tried the steps above to remove this reservation and posted my output, but it seems that reservation cannot be removed.

@kthare10 - Would it be possible to take a look at that reservation and test the solution on it? I tried to be careful with the commands below, it can be good to take a look at them.

- Reservation
[code]

-